1  ^Modalita' Vivi - F1^
2  ^Modalita' Compra - F2^
3  ^Modalita' Costruisci - F3^
4  ^La mia proprieta' - F4^
5  ^Opzioni - F5^
6  ^Piano inferiore^
7  ^Piano superiore^
8  ^Muri giu'^
9  ^Muri semi-visibili^
10 ^Muri visibili^
11 ^Muri e tetto^
12 ^Zoom vicino^
13 ^Zoom medio^
14 ^Zoom lontano^
15 ^Quartiere^
16 ^Citta'^
17 ^Zoom +^
18 ^Zoom -^
19 ^Routa a destra^
20 ^Ruota a sinistra^
21 ^Rete delle amicizie^
22 ^Inbox^
23 ^Aiuto^
24 ^Gestione Budget^
25 ^Seleziona proprieta'^
26 ^Nome Sim^
27 ^Tempo corrente^
28 ^Fondi disponibili^
29 ^Segnalibri^
30 ^Hai %d nuovi messaggi^
31 ^> ^