^Hambre: %d^
^Comodidad: %d^
^Higiene: %d^
^Vejiga: %d^
^Energía: %d^
^Diversión: %d^
^Habitación: %d^
^+ Cocina^
^+ Mecánica^
^+ Lógica^
^+ Físico^
^+ Creatividad^
^+ Carisma^
^ ^
^ ^
^Sólo puede ser usado por niños^
^Actividad de Grupo^
