1 ^Salir o cerrar sesión^
2 ^Nombre del Sim^
3 ^Descripción del Sim^
4 ^Crear un Sim^
5 ^Retirar este Sim^
6 ^Ir a la Vista de la Ciudad^
7 ^Haz clic para ir a la Ciudad y entrar en tu Propiedad^
8 ^Desconocido^
9 ^Borrar Sim^
10 ^Si borras tu Sim perderás todo lo relacionado con el (amigos, objetos, etc...) ¿Seguro que quieres hacerlo?^
11 ^Clic para entrar a la Ciudad^
12 ^Clic para crear un nuevo Sim^
13 ^Entrar al Juego^
14 ^Descripción del Sim^
15 ^Hacia arriba^
16 ^Hacia abajo^
17 ^¿Qué Sim quieres usar?^
18 ^%.2d:%.2d^
19 ^Alerta de Tiempo^
20 ^Tienes menos de %d minutos para elegir o crear un Sim. Cuando la cuenta atrás finalice, irás a la ventana de Inicio de Sesión...^
21 ^Tienes menos de %d minutos para elegir o crear un Sim. Cuando la cuenta atrás finalice, irás a la ventana de Inicio de Sesión...^
22 ^Error retirando Sim^
23 ^ -- Los Sims solo pueden ser retirados cada 7 días por ciudad.^
24 ^Esta ciudad está desconectada ahora mismo.^
25 ^Lo sentimos, esta ciudad está llena ahora mismo. Inténtalo más tarde.^
26 ^Créditos^
27 ^Free Will^
28 ^Ver o crear Sims en una ciudad "Free Will"^