1  ^Dejando la Propiedad^
2  ^Estás a punto de dejar la propiedad en la que estás. ¿Quieres continuar?^
3  ^Nombre de la Propiedad: %s^
4  ^Gente en la Propiedad: %d^
5  ^Esta es tu propiedad^
6  ^Desconectado^
7  ^No puedes construir aquí.^
8  ^Los Controles Parentales están bloqueando este texto.^
9  ^Lote Vacante: $%d^
10 ^Mover Propiedad^
11 ^Comprar Propiedad^

// Leader with roommates move/buy lot dialog ***********************************

12 ^¿Quieres mover tu propiedad y a tus Inquilinos a esta nueva localización? 

Esta propiedad cuesta %s y tú tienes %s ahora mismo. 

Si te mudas, pagarás %s (el coste de esta propiedad mas %s por tarifa de mudanza), pero te serán devueltos %s (el valor de tu antigua propiedad).

Atención: tu propiedad tiene que estar desconectada para moverla .

Si quieres comprar esta propiedad y empezar desde cero, tendrás que irte de tu propiedad primero.^ 

13 ^Empezar de cero^
14 ^Mover propiedad^
15 ^Cancelar^

// Leader with no roommates move/buy lot dialog *********************************

16 ^¿Quieres mover tu propiedad actual a esta nueva localización?

Esta propiedad cuesta %s y tú tienes %s ahora mismo.

Si te mudas, pagarás %s (el coste de esta propiedad mas %s por tarifa de mudanza), pero te serán devueltos %s (el valor de tu antigua propiedad).

Atención: tu propiedad tiene que estar desconectada para moverla .

Si quieres comprar esta propiedad y empezar desde cero, tendrás que irte de tu propiedad primero.^

17 ^Mover propiedad^
18 ^Demoler y comprar^
19 ^Cancelar^

// Roommate buy lot dialog ******************************************************

20 ^¿Quieres dejar tu propiedad actual y mudarte a esta (conservarás tus objetos)?

Esta propiedad cuesta %s y tu tienes %s en efectivo.^

21 ^Si^
22 ^No^

// Buy lot dialog ***************************************************************

23 ^Antes de comprar tu propiedad, ten en cuenta las propiedades actuales que necesitan Inquilinos. Tener Inquilinos te permite comprar más cosas, ampliar tu terreno y tener más visitas (lo que te proporcionará dinero). 

Esta propiedad cuesta %s y tu tienes %s en efectivo. ¿Quieres comprar esta propiedad?^

24 ^Si^
25 ^No^

26 ^No tienes suficientes fondos para comprar esta propiedad.^
27 ^No tienes suficientes fondos para mudarte.^
28 ^Tu propiedad debe estar Desconectada para mudarte..^
29 ^Mover Propiedad^
30 ^¿Seguro que quieres mover tu propiedad a la nueva localización?^
31 ^Si quieres comprar esta propiedad, tendrás que dejar la tuya primero..^

