1  ^Herramientas CSR^
2  ^Echar^
3  ^Nombre de la Casa^	
4  ^Avatares Seleccionados^
5  ^Toda la Parcela^
6  ^Avatares^
7  ^Mensaje a los Jugadores^
8  ^Almacenar Nota^
9  ^Prevenir entrada de los no CSR^
10 ^OK^
11 ^Cancelar^
12 ^Selecciona esta opción si quieres que no se una ningún jugador no CSR hasta que te vayas.^

