**/node_modules
/src/FSOLauncher.ini
/src/bin/
/src/temp/
/release/*
!/release/fsolauncher-build-extras/
!/release/fsolauncher-mac-extras/
!/release/win32-ia32.iss
.DS_Store
tools/fsolauncher.exe
tools/resource_hacker/
