/src/node_modules/
/src/FSOLauncher.ini
/src/package-lock.json
/src/bin/
/src/temp/
/vendor/
/release/*
!/release/fsolauncher-build-extras/
!/release/fsolauncher-mac-extras/
!/release/win32-ia32.iss
.DS_Store