1 ^Esci o disconnetti da The Sims Online^
2 ^Nome sim^
3 ^Descrizione sim^
4 ^Crea un nuovo sim^
5 ^Ritira questo sim^
6 ^Vai a visuale citta'^
7 ^Clicca per entrare direttamente nel tuo lotto^
8 ^Sconosciuto^
9 ^Elimina sim^
10 ^Sei sicuro di voler ritirare il sim? Perderai tutti i fondi, le amicizie e i segnalibri salvati.^
11 ^Entra nella citta'^
12 ^Crea un nuovo sim^
13 ^Entra in The Sims Online^
14 ^Descrizione Sim^
15 ^Scorri su^
16 ^Scorri giu'^
17 ^Seleziona il sim con cui giocare:^
18 ^%.2d:%.2d^
19 ^Tempo scaduto^
20 ^Hai meno di %d minuti per creare o selezionare un sim. Verra' visualizzata la schermata di login a tempo scaduto.^
21 ^Hai meno di %d minuti per creare o selezionare un sim. Verra' visualizzata la schermata di login a tempo scaduto.^
22 ^Errore ritiro sim^
23 ^ -- I sim possono essere ritirati una volta ogni 7 giorni per citta'.^
24 ^La citta' e' momentaneamente offline.^
25 ^Ci sono troppi giocatori all'interno della citta', riprova più tardi.^
26 ^Ringraziamenti^
27 ^L. Arbitrio^
28 ^Crea o seleziona un sim nella citta' Libero Arbitrio.^