^No hay acciones disponibles^
^Sólo puede ser usado por adultos^
^Sólo puede ser usado por niños^
^Sólo puede ser usado por perros^
^Sólo puede ser usado por gatos^
^Sólo puede ser usado por mascotas^
^Sólo puede ser usado por gente^
^Sólo puede ser usado por mascotas automáticas^
^Sim is carrying something^
^%s - (ignorándote)^
^Inquilino - %s^
^Dueño - %s^
^Inquilino - %s - (ignorándote)^
^Dueño - %s - (ignorándote)^
^%s está dejando el solar^
^Persona^
^El objeto está pendiente de borrado porque su dueño se ha mudado.^
^El Sim está ocupado...^
^%s - (estás ignorando a este Sim)^
^Inquilino - %s - (estás ignorando a este Sim)^
^Dueño - %s - (estás ignorando a este Sim)^
^La categoría de Propiedad local no permite la interacción con este objeto.^
^Precio de venta: %s
En Oferta: %s^
^Selecciona esto en el Modo Comprar para información de compra.^
^Este objeto está desactivado temporalmente.^
^Apagado^
^Se necesita mantenimiento del Dueño^
^Transacción de compra aún no completada^
