1 ^Volver a la pantalla de Seleccionar un Sim^
2 ^Salir^
3 ^Opciones de gráficos^
4 ^Opciones de sonido^
5 ^Opciones de chat^
6 ^Salir de la ciudad^
7 ^Estás a punto de salir de la ciudad. ¿Quieres continuar?^

