1 ^Enviando AvatarID al anfitrión...^
2 ^Mensaje Genérico^
3 ^Visita rechazada. %s^
4 ^Visita rechazada. Propiedad bloqueada...^
5 ^Visita aceptada. Solicitando Datos de la Propiedad...^
6 ^Visita a la propiedad fallida^
7 ^El dueño está haciendo algunos arreglos. Vuelve más tarde.^
8 ^Has sido echado de la propiedad. Haz clic en OK para ir al Mapa.^
9 ^Desconectado de la Propiedad^
10 ^Ya no eres un inquilino, ahora no tienes hogar.  Puedes elegir ser un inquilino en otra propiedad o crear la tuya propia.  Aunque no es necesario que lo hagas de inmediato.  Aún puedes visitar otras propiedades sin tener la tuya propia.  Volviendo al Mapa...^
11 ^Intento de Reincorporarse demasiado pronto.^
12 ^El propertySim cree que aún estás en esta propiedad. Haz clic en OK para volver al Mapa.^
13 ^Has sido desconectado de la propiedad. Haz clic en OK para volver al Mapa.^
14 ^No puedes volver a sincronizarte mientras hayan otros dialogos.^
15 ^Habitación Llena.^
16 ^El PropertySim ha llegado al máximo de capacidad. Haz clic en OK para volver al Mapa.^
17 ^Has sido desconectado de la propiedad por un Administrador. Haz clic en OK para volver al Mapa.^
18 ^Has sido expulsado de la propiedad por un Administrador. Haz clic en OK para volver al Mapa.^
19 ^Has sido desconectado de la propiedad por causas desconocidas. Haz clic en OK para volver al Mapa.^
20 ^Ninguno de tus Inquilinos están disponibles para hacer de anfitrión en esta propiedad. Vuelve a intentarlo más tarde. ¡Gracias!^
21 ^Casa sin Inquilinos.^
22 ^¡Oops! Todos los Inquilinos han dejado la propiedad. Vuelve a intentarlo más tarde. ¡Gracias!^
23 ^Cerrando Propiedad^
24 ^La propiedad está siendo desmontada. Por favor, danos un segundo, ¿de acuerdo? Quizás encontremos un hueco en la cocina, el salón...^
25 ^Propiedad Cerrada^
26 ^Te has intentado unir demasiadas veces mientras estabas en acción. Por favor, espera un momento y vuelve a unirte a la Propiedad.^
