1 ^Norte^
2 ^Sur^
3 ^Este^
4 ^Oeste^
5 ^Esperando por un jugador de Lógica^
6 ^Esperando por un jugador de Carisma^
7 ^Paga^
8 ^Paga total: $%d^
9 ^Has perdido^
10 ^¡Felicidades!^
11 ^¡Lo siento, inténtalo de nuevo!^
12 ^Paga base: $%d
Penalización de Trabajo Excesivo: -$%d
Paga Total: $%d^
