1 ^Categorias^
2 ^Cancelar^
3 ^Dinero: necesidades difíciles. Objetos especiales: trabajo en grupo^
4 ^Offbeat: necesidades fáciles^
5 ^Romance: necesidades fáciles. Objeto especial: camas vibratorias^
6 ^Servicios: necesidades medias. Ganancia de necesidades: muy rápida. Objetos especiales: camas vibratorias, mesa de trabajo^
7 ^Tiendas: necesidades medias^
8 ^Habilidades: necesidades difíciles. Ganancia de habilidades: muy rápida^
9 ^Bienvenida: necesidades fáciles^
10 ^Juegos: necesidades fáciles^
11 ^Entretenimiento: necesidades fáciles. Objeto especiales: Cabina DJ, Pista de Baile^
12 ^Residencia: necesidades medias. Objetos especiales: camas vibratorias^
13 ^Sin categoría^
14 ^Próximamente... ¡Vecinos!^
