// kTSOAssetStringNeighborhoodDialog
1 ^Afiliación de Barrio^
2 ^Los Barrios permiten a las propiedades unirse para una mayor presencia en el mapa. Introduce un nombre para el barrio que quieras comenzar, o elige uno ya existente. Este nombre aparecerá localmente siempre y cuando hayan 3 propiedades, incluyendo la tuya.^
3 ^Ok^
4 ^Cancelar^
5 ^Sin Barrio^
6 ^Error de Barrio^
7 ^El Nombre de Barrio que has indicado está en uso. Selecciona otro.^
8 ^Crear un nuevo barrio^
9 ^Unirse a este barrio^
10 ^Introduce un nombre o elige uno de esta lista.^
11 ^Sin Afiliación a Barrio^
12 ^Sin cambios^
13 ^El nombre que has introducido es incorrecto. El/los siguiente(s) problemas han sido encontrados:^
14 ^- Nombre muy corto. Como mínimo 3 carácteres.^
15 ^- Nombre muy largo. Como máximo 24 carácteres.^
16 ^- Carácteres no numéricos (0-9) están aceptados.^
17 ^- Solo se permite un apóstrofe (').^
18 ^- Solo se permite un guión (-).^
19 ^- Solo se permiten dos espacios no continuos.^
20 ^- No se permiten carácteres especiales.^
21 ^- Se ha detectado una palabra prohibida o reservada.^
