1  ^Haced vuestras apuestas... ^
2  ^Girando. No se admiten apuestas.^
3  ^Rojo ^
4  ^Negro^
5  ^ gana!  ^
6  ^¡Ganas $%d!^
7  ^%s gana $%d.^
8  ^Clic para seleccionar una ficha de $%d para apostar^
9  ^Cualquier número paga 35-1^
10 ^Dos números pagan 17-1^
11 ^Tres números pagan 11-1^
12 ^Cuatro números pagan 8-1^
13 ^Cinco números pagan 6-1^
14 ^Paga 2-1^
15 ^Paga 1-1^
16 ^No más apuestas^
17 ^Espera a apostar^
18 ^Manten para mostrar todas las apuestas^
19 ^Apuestas totales: $%d^
20 ^Fuera de apuestas requieren al menos la apuesta mínima por ficha^
21 ^La apuesta máxima es $%d.^
22 ^La apuesta mínima es $%d.^
23 ^Apuestas totales: $%d.^
24 ^Has perdido $%d.^
25 ^$%d fichas estarían por encima de la apuesta máxima^
26 ^Después de esta ronda, la mesa será cerrada..^
27 ^%s perdió $%d.^
28 ^Esperando a que se unan jugadores^
29 ^El croupier no debe apostar^
30 ^Ganancias totales: $%d^
31 ^Pérdidas totales: $%d^
32 ^Seis números pagan 5-1^
