1  ^Categoría Desconocida^
2  ^Categoría Desconocida^
3  ^Categoría Desconocida^
4  ^Categoría Desconocida^
5  ^Categoría Desconocida^
6  ^Categoría Desconocida^
7  ^Categoría Desconocida^
8  ^Categoría Desconocida^
9  ^Sin categoría
10 ^Miscelánea^
11 ^Jugador usando tu Objeto^
12 ^Objeto que usaste^
13 ^Haciendo trampas^
14 ^Miscelánea^
15 ^Rellenado o Reparación del Objeto^
16 ^Objeto que usaste^
17 ^Jugador a Jugador^
18 ^Jugador usando tu Objeto^
19 ^Objeto que usaste^
20 ^Jugador usando tu Objeto^
21 ^Objeto que usaste^
22 ^Jugador usando tu Objeto^
23 ^Objeto que usaste^
24 ^Jugador usando tu Objeto^
25 ^Objeto que usaste^
26 ^Jugador usando tu Objeto^
27 ^Objeto que usaste^
28 ^Jugador usando tu Objeto^
29 ^Objeto que usaste^
30 ^Jugador usando tu Objeto^
31 ^Objeto que usaste^
32 ^Jugador usando tu Objeto^
33 ^Objeto que usaste^
34 ^Cuota de Servicio^
35 ^Cuota del Jardniero^
36 ^Cuota de la Asistenta^
37 ^Cuota del Técnico^
38 ^Cuota del Mayordomo^
39 ^Salario del Empleo^
40 ^Salario de la Fábrica de Robots^
41 ^Salario del Restaurante^
42 ^Salario del Club Nocturno^