1 ^¡No puedes ir a trabajar!^
2 ^La búsqueda de trabajo falló al buscar tu tipo de trabajo.^
3 ^La búsqueda de trabajo falló al buscar la información de trabajo de tu Sim.^
4 ^La búsqueda de trabajo falló al buscar un solar que requiera tus servicios.^
5 ^La búsqueda de trabajó falló al crear una cerradura para tu trabajo.^
6 ^Una construcción en el autoConsejo impide que vayas al trabajo. Inténtalo de nuevo más tarde, pero los analistas no aseguran que hoy se finalice.^
7 ^La búsqueda de trabajó falló creando y activando tu trabajo..^ 
8 ^La búsqueda de trabajó falló al añadirte a la lista de empleados.^
9 ^Gracias por visitar este trabajo. Desafortunadamente, no tienes el tipo de trabajo adecuado para trabajar aquí. Puedes quedarte y mirar, o buscar en otro sitio.^
10 ^Gracias por visitar este trabajo. Desafortunadamente, no tienes el grado de trabajo adecuado para trabajar aquí. Puedes quedarte y mirar, o buscar en otro sitio.^
11 ^Gracias por visitar este trabajo. Desafortunadamente, tenemos suficientes trabajadores por ahora. Puedes esperar a que se abran solicitudes, o buscar en otro sitio.^
12 ^Gracias por visitar este trabajo. Desafortunadamente, uno de nuestros trabajadores te está ignorando. Puedes quedarte y mirar, o buscar en otro sitio.^
13 ^Gracias por visitar este trabajo. Desafortunadamente, no serías capaz de trabajar aquí. Puedes quedarte y mirar, o buscar en otro sitio..^
14 ^Empleo denegado^