// Language Markup Strings for Miscellaneous CST

// _195_MessageStrings : 28, 29
1 ^De: ^
2 ^Asunto: ^

// _239_AsyncSales : 10, 11, 12
3 ^Esta carta fue enviada de parte de un cliente. Un objeto que marcastes para la venta fue comprado. 
El '%s' que originalmente costaba %s ha sido vendido por %s a %s.^
4 ^Transacción de Venta completada^
5 ^Contabilidad de Tiendas^





