^El juego no se puede iniciar porque:^
^DirectX 7 no está instalado. No se ha podido encontrar.^
^¡Error crítico!^
^El juego requiere un procesador Pentium (o su equivalente) o superior. No se ha encontrado.^
^El color debe ser ajustado a 16 bit.^
^El Sistema Operativo no ha sido reconocido. Debe ejecutarse Windows 98 o superior.^
^La resolución de pantalla es demasiado pequeña. Ajústala a 800x600, 1024x768, o superior.^
^¡FreeSO ya se está ejecutando!^
^La tarjeta gráfica por defecto no soporta Miles de Colores^
^Salir ahora.^
^No hay suficiente memoria o espacio en el Disco Duro o superior..^
^FreeSO no soporta el cambio de resolución mientras se está jugando. El juego se va a cerrar.^
^FreeSO no soporta el cambio de resolución mientras se está jugando. El juego se va a cerrar.^
^¡No soportado!^
