1  ^Cerrar^
2  ^Entrar a la Propiedad^
3  ^Hacia la izquierda^
4  ^Hacia la derecha^
5  ^Nombre de la Propiedad^
6  ^Descripción de la Propiedad^
7  ^Contraer^
8  ^Expandir^
9  ^Hacia arriba^
10 ^Hacia abajo^
11 ^La propiedad está desconectada.^
12 ^Introduce la contraseña para cambiar la descripción de la propiedad.^
13 ^La contraseña no es correcta.^
14 ^Contraseña incorrecta^
15 ^El nombre que has introducido no es válido. Se han encontrado los siguientes problemas:^
16 ^- El nombre es muy corto. Mínimo 3 carácteres.^
17 ^- El nombre es muy largo. Máximo 3 carácteres.^
18 ^- No se permiten carácteres numéricos (0-9).^
19 ^- Solo se permite un apóstrofe (').^
20 ^- Solo se permite un guión (-).^
21 ^- Solo se permiten dos espacios no contiguos.^
22 ^- No se permiten carácteres especiales.^
23 ^- Se ha detectado una palabra prohibida o reservada.^
24 ^Clic para editar el nombre de tu propiedad^
25 ^Número de Sims en la propiedad^
26 ^Categoría de la propiedad: %s^
27 ^ - Clic para cambiar^
28 ^Valor de Propiedad^
29 ^La categoría de la propiedad solo puede ser modificada por el dueño de la propiedad.^
30 ^Tu propiedad no debe tener nadie en su interior para modificar la categoría.^
31 ^La categoría de la propiedad no se puede volver a cambiar hasta dentro de %d día(s).^
32 ^Verificando que tu propiedad no tenga nadie en su interior y esté cerrada.... Inténtalo de nuevo en %d segundos.^
33 ^Afiliación al barrio^
34 ^Haz clic para editar tu afiliación al barrio^
35 ^Barrio^
36 ^Has creado un barrio pendiente. Tus vecinos verán este barrio como una opción en sus páginas de propiedad. Un barrio aparecerá en pantalla cuando hayan 3 propiedades en los mismos. Para aparecer en la vista de ciudad, tu barrio debe ser uno de los 10 más grandes.^
37 ^Barrio Creado^
38 ^Te has unido a un barrio. Asegúrate de hablar con el líder del barrio para saber cuáles son los objetivos del barrio. Si un barrio tiene al menos 3 propiedades, aparecerá en el zoom cercano en el mapa. Para aparecer en la vista de ciudad, tu barrio debe ser uno de los 10 más grandes.^
39 ^Unido al Barrio^

