1 ^Introduce una secuencia numérica de entre 1 - 9 dígitos de largo. Este código se usará para pasar por la puerta.^
2 ^Tasa de la Puerta^
3 ^Excepto:^
4 ^Amigos^
5 ^Empleados^
6 ^Permitir a esos Sims pasar por la puerta^
7 ^Inquilinos^
8 ^Visitantes^
9 ^Puerta de Permisos^
10 ^Puerta de Pago^
11 ^Puerta con Código^
12 ^Código de Puerta^
13 ^Tasa de la Puerta^
14 ^Apagar^
15 ^Cargando...^
16 ^$^
