1 ^Cerrar^
2 ^Minimizar^
3 ^Enviar Mensaje^
4 ^Error^
5 ^El mensaje no pudo ser enviado. El receptor está desconectado... Deberías enviarle un correo...^
6 ^Enviar correo^
7 ^Responder^
8 ^Asunto^
9 ^Cuerpo^
10 ^El mensaje no pudo ser enviado. Estás silenciado. Inténtalo de nuevo en unos segundos...^
11 ^El mensaje no pudo ser enviado. Ha ocurrido un error desconocido. Inténtalo de nuevo en unos segundos...^
12 ^El mensaje no pudo ser enviado. Estás enviando mensajes demasiado rápido. Inténtalo de nuevo en unos segundos...^
13 ^Desconocido^
14 ^Error enviando el Mensaje^
15 ^El Sim al que intentas enviar el mensaje no existe.^
16 ^El Sim al que intentas enviar el mensaje no puede recibirlo porque su bandeja de entrada está llena.^
17 ^Mensaje del Día^    Message of the Day dialog Title - Used in SystemMessageRegulator.cpp	JPS 6/16/2002
18 ^El mensaje no puede ser enviado.  Estás ignorando al receptor.^
19 ^El mensaje no puede ser enviado.  El receptor te está ignorando.^
20 ^No puedes enviar un mensaje a este Sim.  Lo estás ignorando.^
21 ^No puedes enviar un mensaje a este Sim.  Te está ignorando.^
22 ^Has sido expulsado.^  Used when CSR Ejects an Avatar dialog title - Used in SystemMessageRegulator.cpp
23 ^Hacia arriba^
24 ^Hacia abajo^

25 ^Mensaje del Día^  Message of the Day dialog title for city specific MotD -ADD (didn't know if 17 was going away) **DO NOT USE (AWC 6/2004)**
26 ^Hay un mensaje para ^  City specific MotD message
27 ^¿Aún deseas Crear un Sim en esta ciudad?^  
28 ^De: ^
29 ^Asunto: ^

30 ^Anuncio a ^

// Already replied yes or no to a roommate invitation letter.
31 ^Ya has responido a este mensaje. No puedes volver a contestar.^
32 ^No se admiten respuestas^

33 ^Representante de FSO^ // CSR
34 ^Maxis^              // system
35 ^FreeSO^    			// game
36 ^Club^
37 ^Avatar^
38 ^Propiedad^
39 ^Vecino^

40 ^RE:^

