1  ^Tamaño del Solar^
2  ^%dx%d Baldosas^
3  ^Coste de Actualización:$%d^
4  ^Tasas aproximadas: %d.^
5  ^%d^
6  ^Más grande^
7  ^Más pequeño^
8  ^Aceptar^
9  ^Inquilinos requeridos: %d^
10 ^Falta de Inquilinos:$%d^
11 ^Coste Total:$%d^
