 1 ^(Anchovies) Anchoas^
 2 ^(Cheese) Queso^
 3 ^(Dough) Masa^
 4 ^(Mushrooms) Champiñones^
 5 ^Pepperoni^
 6 ^(Sauce) Salsa^
 7 ^se necesita ingrediente^

 8 ^Grande ^
 9 ^Mediana ^
10 ^Pequeña ^

11 ^Físico: ^
12 ^Cocina: ^
13 ^Carisma: ^

14 ^se necesita Sim^

15 ^Se necesitan 4 Sims para hacer pizza.^
16 ^Esperando alguna llamada...^
17 ^Tomando orden...^
18 ^Cada jugador debe añadir un ingrediente.^
19 ^Poniendo ingredientes...^
20 ^Cocinando la pizza...^
21 ^¡Tu pizza es un desastre!^
22 ^¡Buen trabajo!  ¡Una pizza deliciosa!^
23 ^¡Mamma-mia!  ¡Una pizza suprema!^