1 ^Clic para girar la rueda^
2 ^Apuesta Actual^
3 ^Clic para aumentar apuesta^
4 ^Clic para disminuir apuesta^
5 ^Cerrar^
6 ^Cargando...^
7 ^Establecer probabilidades^
8 ^Casa^
9 ^Jugador^
10 ^Retirar el dinero^
11 ^Dinero en máquina^
12 ^Probabilidades Actuales^
13 ^Encender^
14 ^Apagar^
15 ^Tabla de Pagos "Viva PGT"^
16 ^Tabla de Pagos "Reina Gitana"^
17 ^Tabla de Pagos "Jack de Corazones"^
18 ^Apuesta una moneda y haz clic en Girar para jugar^
19 ^Clic en Girar para jugar^
20 ^Encender/Apagar^
21 ^Tu apuesta: $%i^
22 ^Cerrado por Mantenimiento^
23 ^Por favor juega en otra máquina^
24 ^Administración del Tragaperras^
25 ^¡Otro ganador! ¡Has ganado $%i!^
26 ^¡La suerte está de tu parte! ¡Has ganado $%i!^
27 ^¡Felicidades! ¡Has ganado $%i!^
28 ^¡Eres un ganador! ¡Has ganado $%i!^
29 ^¡El destino se sonríe! ¡Has ganado $%i!^
30 ^Lo siento, inténtalo de nuevo.^
31 ^¡Mejor suerte la próxima vez!^
32 ^¡Seguro que la próxima ganarás!^
33 ^¡La fortuna no durará para siempre!^
34 ^¡Gira de nuevo, quizás ganes!^
35 ^Cualquiera^
36 ^%i X Apuesta^
