//--------------------------------------------------------------------------------
  downloads.pug
  --------------------------------------------------------------------------------
  Contains UI for the Downloads tab.

#downloads-page.page(style={'display': 'none'})
  h1.jumbotron
    span #{DOWNLOADS}
    small #{DOWNLOADS_DESCR}
  .page-content
    .alt-content
      i.material-icons(style={'font-size': '28px', 'margin-bottom': '10px'}) get_app
      br
      span(style={'color': 'rgba(0,0,0,0.4)'}) #{DOWNLOADS_EMPTY}