1  ^Cancelar^
2  ^Aceptar^
3  ^Introduce el nombre de tu Sim aquí. Este nombre es por el que te conocerán los demás y no puede ser cambiado.^
4  ^Otros jugadores podrán ver tu descripción dentro del juego. Podrás cambiarla más tarde por otros valores...^
5  ^Salir del Juego^
6  ^Femenino^
7  ^Masculino^
8  ^Color de piel claro^
9  ^Color de piel medio^
10 ^Color de piel oscuro^
11 ^El nombre que has introducido es incorrecto. El/los siguiente(s) problemas han sido encontrados:^
12 ^- Nombre muy corto. Como mínimo 3 carácteres.^
13 ^- Nombre muy largo. Como máximo 24 carácteres.^
14 ^- Carácteres no numéricos (0-9) están aceptados.^
15 ^- Solo se permite un apóstrofe (').^
16 ^- Solo se permite un guión (-).^
17 ^- Solo se permiten dos espacios no continuos.^
18 ^- No se permiten carácteres especiales.^
19 ^- Se ha detectado una palabra prohibida o reservada.^
20 ^Hacia arriba^
21 ^Hacia abajo^
22 ^Crear tu Sim^
23 ^Musica fav.: 
Pelicula fav.:
Me pone:
Me corta:
Cita:^
24 ^Creando Nuevo Sim...^
25 ^Por favor espera mientras tu Sim es creado...^