1  ^Modo Vivir - F1^
2  ^Modo Comprar - F2^
3  ^Modo Construir - F3^
4  ^Modo Propiedad - F4^
5  ^Modo Opciones - F5^
6  ^Bajar un piso^
7  ^Subir un piso^
8  ^Sin paredes^
9  ^Paredes recortadas^
10 ^Paredes completas^
11 ^Tejado^
12 ^Zoom cercano^
13 ^Zoom medio^
14 ^Zoom lejano^
15 ^Barrio^
16 ^Ciudad^
17 ^Ver de cerca^
18 ^Ver de lejos^
19 ^Girar a la derecha^
20 ^Girar a la izquierda^
21 ^Red de Relaciones^
22 ^Correo^
23 ^Ayuda^
24 ^Ventana de Presupuesto^
25 ^Tipos de Paredes^
26 ^Nombre del Personaje^
27 ^Tiempo actual^
28 ^Fondos disponibles^
29 ^Marcadores^
30 ^Tienes %d nuevos mensajes^
31 ^> ^