1  ^Anterior página^
2  ^Siguiente página^
3  ^Asientos^
4  ^Superficies^
5  ^Decoración^
6  ^Entretenimiento^
7  ^Electrodomésticos^
8  ^Habilidad y Trabajo^
9  ^Iluminación^
10 ^Miscelánea^
11 ^Sala de Estar^
12 ^Comedor^
13 ^Dormitorio^
14 ^Estudio^
15 ^Cocina^
16 ^Baño^
17 ^Exterior^
18 ^Inventario^
19 ^No puedes poner objetos en esta propiedad como visitante, pero puedes vender o cambiar objetos.^
20 ^MapBuildingMode^
21 ^Mascotas^
22 ^No puedes poner este objeto en el Solar porque ya está en el. Para resolverlo, debes cerrar y volver a abrir el Solar.^
23 ^No puedes poner objetos aquí siendo un fantasma.^