1  ^Inquilino:^
2  ^Permiso de Construcción^
3  ^Desmarca esta casilla si no quieres que los Inquilinos construyan^
4  ^Marca esta casilla si quieres que los Inquilinos construyan^
5  ^Guardar cambios^
6  ^Lo sentimos, tus privilegios de %s han sido revocados por el dueño.^
7  ^Privilegios de Inquilino^
