1  ^Estadísticas de la Propiedad:^
2  ^Metros cuadrados:^
3  ^Dormitorios:^
4  ^Baños:^
5  ^Plantas:^
6  ^Tamaño del Lote:^
7  ^Tamaño^
8  ^Mobiliario^
9  ^Yarda^
10 ^Mantenimiento^
11 ^Disposición^
12 ^Pequeña^
13 ^Media^
14 ^Grande^