1  ^Permitir lectura^
2  ^Permitir escritura^
3  ^Guardar cambios^
4  ^Editar permisos^
5  ^Señal de Cierre^
6  ^Inquilinos^
7  ^Amigos^
8  ^Visitantes^
9  ^Editar texto^
10 ^Desplazar texto^
11 ^Solo lectura^
