1 ^Cerrar^
2 ^Jugar^
3 ^Pausar^
4 ^Aumentar minutos^
5 ^Disminuir minutos^
6 ^Aumentar segundos^
7 ^Disminuir segundos^
8 ^Poner temporizador^
9 ^Elegir modo^
10 ^Cronógrafo^
11 ^Cuenta atrás^
12 ^Poner Temporizador^
13 ^:^

