1 ^Cambiar Color^
2 ^Cambiar Puntuación^
3 ^Aumentar Puntuación^
4 ^Disminuir Puntuación^
5 ^Cerrar^
6 ^Rojo^
7 ^Azul^
8 ^Amarillo^
9 ^Verde^
10 ^Naranja^
11 ^Violeta^
12 ^Blanco^
13 ^Negro^
14 ^Cargando...^

