1 ^Uniéndose a la propiedad...^
2 ^Progreso general^
3 ^Tarea actual^
4 ^Configurando como anfitrión...^
5 ^Creacion del Sim fallida^
6 ^La causa más común es que el nombre de tu Sim ya esté ocupado.^
7 ^La propiedad está desconectada^
8 ^No se puede entrar en esta propiedad porque ningún propietario es anfitrión de ella.^
9 ^El anfitrión acaba de abandonar la propiedad.^
10 ^Proceso de unirse fallido.^
11 ^Fallo al visitar la propiedad^
12 ^Imposible abrir tu propiedad porque la ciudad está ocupada.  Inténtalo de nuevo más tarde.^
13 ^Error de visión del mapa^
14 ^Imposible vender tu propiedad porque hay Inquilinos en ella.^
15 ^Transacción exitosa^
16 ^You have successfully purchased a new Property. Enjoy!^
17 ^Lot Purchase Failed^
18 ^Unable to purchase the property. One of three things may have happened: 1) The property name you have selected is already be in use, 2) Someone else already bought this property, or  3) Your funds are insufficient. Please try another name or property, and verify you have enough funds to complete the transaction.^
19 ^Selling Property^
20 ^If you sell your Lot, ownership will be transferred to your roommate %s and all your old possessions will be moved to your inventory. Do you wish to sell your property?^
21 ^You have roommates, if you sell your lot all your old possessions will be moved to your inventory. Do you wish to sell your property?^
22 ^Localización de la propiedad determinada...^
23 ^Verificando permisos...^
24 ^Intentando unirse a la propiedad...^
25 ^Te has unido a la propiedad. Solicitando datos de propiedad...^
26 ^Recuperando datos de propiedad...^
27 ^Datos de propiedad recuperados. Entrando a la propiedad...^
28 ^JoinRoomFailed Property is not ready for you, try again later^
29 ^JoinRoomFailed system throttle will not allow you to switch lots this quickly^
30 ^JoinRoomFailed outstanding join lot will prevent this lot join from occuring^
31 ^JoinRoomFailed - This property is currently full.^
32 ^JoinRoomFailed - This property wasn't found. It is likely no longer online.^
33 ^JoinRoomFailed - This property requires a password to enter.^
34 ^JoinRoomFailed - You supplied an incorrect password.^
35 ^JoinRoomFailed - No exit defined?^
36 ^JoinRoomFailed - Room Name Locked^
37 ^JoinRoomFailed - Room Data Invalid^
38 ^JoinRoomFailed - Unable to join the Property multiple times.^
39 ^JoinRoomFailed - Room is already a row to parent stage room^
40 ^JoinRoomFailed - Property is already online.^
41 ^Esta propiedad está bloqueada. Inténtalo de nuevo más tarde.^
42 ^Esta propiedad tiene permisos especiales que te excluyen de entrar ahora mismo.^
43 ^JoinRoomFailed unknown %d^
44 ^CreateRoomResponse != status_SUCCESS %s.^
45 ^Imposible unirse a la propiedad^
46 ^Imposible comprar la propiedad. La propiedad que intentabas adquirir ya ha sido adquirida por alguien.^
47 ^¿Hechas de menos algunos objetos?^
48 ^Algunos objetos puede que hayan sido movidos al inventario del propietario.^
49 ^Uno o más objetos pueden que se hayan perdido.	¡Lo sentimos!^
50 ^Imposible mover tu propiedad^
51 ^Imposible mover tu propiedad actual. La nueva localización que has seleccionado ya ha sido reclamada.^
52 ^Imposible mover tu propiedad actual. Parece que ya no eres propietario de la nueva propiedad que has solicitado mover.^
53 ^Imposible mover tu propiedad actual. La propiedad está conectada. Debes desconectar la propiedad para moverla.^
54 ^Imposible mover tu propiedad actual. Parece que ya no eres propietario de ninguna propiedad.^
55 ^Imposible mover tu propiedad actual. Ha ocurrido un error desconocido. Inténtalo de nuevo.^
56 ^Moviendo propiedad...^
57 ^Por favor, espere mientras su propiedad es movida a la nueva localización...^
58 ^Propiedad movida con éxito^
59 ^Tu propiedad ha sido movida satisfactoriamente a la nueva localización.^
60 ^Error al mover la propiedad^
61 ^El intento para mover tu propiedad ha fallado. Es posible que la localización ya haya sido reclamada o haya ocurrido un error desconocido. Por favor, inténtalo de nuevo o prueba otra localización..^
62 ^El intento para mover tu propiedad ha fallado. Parece que no tienes suficientes fondos como para mover la propiedad a la nueva localización.^
63 ^Algunos objetos de tu propiedad eran de alguien que no es un inquilino.  Han sido eliminados estos objetos.^
64 ^Imposible comprar la Propiedad. Antes de comprar una propiedad, sal de la propiedad que estás actualmente y ve a la Vista de Ciudad.^
