1  ^Items que das^
2  ^Items que recibes^
3  ^Cancelar intercambio seguro^
4  ^Cantidad que das^
5  ^Cantidad que recibes^
6  ^Aceptar intercambio^
7  ^Disminuir Cantidad^
8  ^Aumentar Cantidad^
9  ^El otro acepta el intercambio^
10 ^0^
11 ^$^
12 ^Quitar del Intercambio^
13 ^Añadir al Intercambio^
14 ^¡Transacción exitosa!^
15 ^¡Intercambio cancelado por el usuario!^
16 ^¡Error! Transacción cancelada por el servidor^
17 ^¡Transacción sin tiempo!^
18 ^Intercambio seguro:^
19 ^¡El otro Sim no puede recibir más objetos!^
20 ^¡Este objeto no puede ser intercambiado!^
21 ^Página anterior^
22 ^Siguiente página^
23 ^Lo sentimos, los intercambios están temporalmente desactivados.^
24 ^Lo sentimos, no puedes vender tu solar cuando tienes el inventario lleno.^
25 ^Lo sentimos, el vendedor no puede vender su solar con el inventario lleno.^
26 ^¿Estás seguro? Perderás tus %d objetos baratos si vendes tu solar ya que no tienes suficiente espacio en el Inventario.^
27 ^¿Estás seguro? Perderás algunos de tus objetos baratos si vendes tu solar ya que no tienes suficiente espacio en el Inventario.^
28 ^Lo sentimos, el comprador está por encima del límite de objetos^
29 ^Lo sentimos, no puedes comprar el lote y sus %d objetos porque están encima del límite.^
30 ^Lo sentimos, no puedes comprar el lote y sus %d objetos porque están encima de tu límite de Objetos.^
31 ^Lo sentimos, no se puede vender la escritura con objetos.^
32 ^Lo sentimos, el intercambio no se ha completado debido a que superaría tu límite de objetos en el inventario.^
33 ^Lo sentimos, el intercambio no se ha completado debido a que superaría tu límite de objetos en el inventario.^
34 ^¡Ups! El intercambio no se puede completar porque el inventario del otro Sim estaría lleno.^

