1  ^¡Tienes mensajes!^
2  ^Hac recibido 1 nuevo mensaje. ¿Te gustaría leerlo ahora?^
3  ^Has recibido %d nuevos mensajes. ¿Te gustaria leerlos?^
4  ^Lo siento, no te puedo responder ahora mismo. Mi cola de mensajes está llena.^
