1 ^Introduce la Palabra:^
2 ^Activar filtro de profanidades^
3 ^Añadir palabra^
4 ^Eliminar palabra^
5 ^Entrada de Palabra^
6 ^Activar filtro^
7 ^La contraseña es incorrecta.^
8 ^Contraseña incorrecta^
9 ^El filtro de profanidades no puede ser desactivado dentro del juego. Para desactivarlo, visita www.freeso.org y cambia este ajuste en tu cuenta.^
10 ^El Filtro de Profanidades está bloqueado.^
11 ^Color de Chat actual:^
12 ^Seleccionar siguiente color^
13 ^Seleccionar anterior color^
14 ^<SomeColor>^