1 ^¿En que ciudad te gustaría vivir?^
2 ^Ok^
3 ^Cancelar^
4 ^Hacia arriba^
5 ^Hacia abajo^
6 ^Nombre de la Ciudad^
7 ^Online^
8 ^Sims Online^
9 ^Estado^
10 ^Ordenar por Nombre de Ciudad^
11 ^Ordenar por Estado de Conexión^
12 ^Ordenar por número de Sims conectados^
13 ^Ordenar por Estado de la Ciudad^
14 ^Si^
15 ^No^
16 ^Ocupado^
17 ^Lleno^
18 ^Ocupado/Lleno^
19 ^Ok^
20 ^Ciudad no disponible^
21 ^Ya tienes un Sim. Solo puedes tener un Sim por ciudad. Para crear otro Sim en esta ciudad primero tendrás que retirar el otro...^
22 ^Ciudad llena^
23 ^Esta Ciudad está llena, lo sentimos. Nadie puede crear nuevos Sims...^
24 ^Ciudad ocupada^
25 ^Esta ciudad está ocupada y no acepta nuevas conexiones. Vuelve a intentarlo luego...^
26 ^Cerrado^
