1 ^A^
2 ^B^
3 ^C^
4 ^Correcto:^
5 ^Conseguido:^
6 ^Esperando por las tres letras...^
7 ^Comprobando los resultados...^
8 ^/3 de esas letras eran correctas.^
9 ^Correcto!^
10 ^Paga del Puzzle:^
11 ^Paga de Habilidad:^
12 ^Total:^
13 ^Letra^
14 ^Esperando a que los tres huecos sean rellenados^
15 ^Última predicción^
16 ^Cuerpo: ^
17 ^Mecánica: ^
18 ^Lógica: ^
