1  ^Comprar Propiedad^
2  ^Por favor introduce un nombre para tu nueva propiedad. El nombre debe ser único y puede ser cambiado posteriormente en la Ventana de Propiedad.^
3  ^El nombre que has introducido no es válido. El/los siguiente(s) problemas han sido encontrados:^
4  ^- El nombre es demasiado corto. Se necesitan 3 carácteres.^
5  ^- El nombre es demasiado largo. El máximo es 24 carácteres.^
6  ^- Carácteres no numéricos (0-9) están permitidos.^
7  ^- Solo se permite un apóstrofe (').^
8  ^- Solo se permite un guión (-).^
9  ^- Solo se permiten dos espacios no continuos.^
10 ^- No se permiten carácteres especiales.^
11 ^- Se ha detectado una palabra prohibida o reservada.^
12 ^Cancelar la Compra^
13 ^Comprar la Propiedad^
14 ^Introduce la contraseña del Control Parental para añadir este nombre de propiedad.^
15 ^La contraseña es incorrecta.  Por favor, inténtalo de nuevo.^
16 ^Contraseña incorrecta.^
