1 ^Mensaje de Prueba de Banda^
2 ^doh^
3 ^ray^
4 ^me^
5 ^fah^
6 ^soh^
7 ^lah^
8 ^te^
9 ^doh^
10 ^Rock^
11 ^Vendido^
12 ^BZZZZ^
13 ^Continuar o recibir dinero^
14 ^Habilidad total: %d.%02d    Actualmente conseguido: $%d^
15 ^La secuencia es...^
16 ^Introduce la secuencia.^
17 ^¡Éxito! Todos los compañeros han sido recompensados.^
18 ^¡Nota zumbante! ¡Canción reiniciada!^
19 ^Esperando por otros jugadores^
20 ^¡Lo siento, %s, nota equivocada!^
21 ^Carisma^
22 ^Físico^
23 ^Creatividad^
24 ^Creatividad^
25 ^Carisma: %d.%02d^
26 ^Físico: %d.%02d^
27 ^Creatividad: %d.%02d^
28 ^Creatividad: %d.%02d^
29 ^¡Tiempo acabado!  ¡Canción reiniciada!^
