1  ^Logro^
2  ^Fecha^
3  ^Bonus del Visitante^
4  ^Bonus de la Propiedad^
5  ^Bonus del Sim^
6  ^Bonus Total^
7  ^Hacia arriba^
8  ^Hacia abajo^
9  ^Aquí está el historial del total de Bonus que han ido a parar a tí^
10 ^Totales:^