1  ^Haced vuestras apuestas... ^
2  ^Repartiendo.^
3  ^Tu turno.^
4  ^ tiene el turno.^
5  ^ tiene el turno.^
6  ^Pedir carta^
7  ^Plantarse^
8  ^Dividir^
9  ^Doblar^
10 ^Al finalizar esta ronda, la mesa será cerrada.^
11 ^Has ganado $%d.^
12 ^%s gana $%d.^
13 ^¿Te gustaría comprar un seguro?^
14 ^Hacer apuesta^
15 ^Añadir $%d a la apuesta^
16 ^Apuesta total:^
