1  ^Probar en el Item seleccionado^
2  ^Comprar el Item seleccionado^
3  ^Nombre del Estante^
4  ^Precio del Objeto^
5  ^Comprar Objeto^
6  ^¡Buena elección! ¿Te gustaría probártelo ahora?^
7  ^Buscando en el Estante...^
8  ^Ese traje no es para tu género.^
9  ^No puedes permitirte ese objeto.^
10 ^No te queda espacio en tu mochila.^