1  ^Eliminar el traje seleccionado^
2  ^Abastecer Estante con el artículo seleccionado^
3  ^Cambiar a Ropa de Hombre^
4  ^Cambiar a Ropa de Mujer^
5  ^Establecer nombre de Estantería^
6  ^Establecer precio del Objeto^
7  ^Añadir Objeto^
8  ^¿Te gustaría abastecer el Estante con este objeto?^
9  ^Borrar Objeto^
10 ^¿Te gustaría eliminar este objeto de tu estantería?^
11  ^Lo sentimos, no puedes permitirte abastecer el estante con este objeto.^
12  ^No hay más espacio en la estantería.^
13  ^No puedes permitirte añadir ese objeto.^
14  ^Abastecer este objeto costará $^