// Job title strings. These are looked up programatically by generating 
// the string ID from the work type and work grade.  Because this damn
// mickey mouse file format just assigns string IDs sequentially the
// formula for generating these is a total hack:
// stringId = ((workType - 1) * 11) + workGrade + 1

// robot factory worker
1 ^Dron^
2 ^Fabricador de Golems^
3 ^Ensamblador de Máquinas^
4 ^Constructor Robomático^
5 ^Constructor Futurobot^
6 ^Diseñador de Droides^
7 ^Ingeniero de Plomo^
8 ^Ingeniero de Silicona^
9 ^Buscador de Datos^
10 ^Ensamblador de Androides^
11 ^Super Genio^

// waiter
12 ^Camarero sin experiencia^
13 ^Camarero pasable^
14 ^Decano de Comensales^
15 ^Camarero apropiado^
16 ^Camarero astuto^
17 ^Camarero superior^
18 ^Camarero Jefe^
19 ^Camarero Fanfarrón^
20 ^Supercamarero^
21 ^Maitre^
22 ^Super Maitre^

// cook
23 ^Grado de Cocina 0^
24 ^Grado de Cocina 1^
25 ^Grado de Cocina 2^
26 ^Grado de Cocina 3^
27 ^Grado de Cocina 4^
28 ^Grado de Cocina 5^
29 ^Grado de Cocina 6^
30 ^Grado de Cocina 7^
31 ^Grado de Cocina 8^
32 ^Grado de Cocina 9^
33 ^Grado de Cocina 10^

// dj
34 ^Lagarto^
35 ^DJ^
36 ^Talento Local^
37 ^Niño del Club^
38 ^DJ Bien visto^
39 ^Scratcher^
40 ^Héroe Underground^
41 ^VJ^
42 ^Máxima audiencia^
43 ^Maestro de Mezclas^
44 ^Superestrella^

// dancer
45 ^Bailarín mediocre^
46 ^Arrastrador de Pies^
47 ^Talento local^
48 ^Bailarín^
49 ^Bailarín avanzado^
50 ^Video Extra^
51 ^Saltador^
52 ^Coreógrafo^
53 ^Estrella de TV^
54 ^Coreógrafo Estrella^
55 ^Superestrella^
