// kTSOAssetStringFWebControls
1 ^Enlaces Máximos Conseguidos^
2 ^Volver al Último Sim^
3 ^Cerrar Red de Relaciones^
4 ^Centrar Web en tu Sim^
5 ^Amigos^
6 ^Enemigos^
7 ^^
8 ^^
9 ^1^
10 ^2^
11 ^3^
12 ^4^
13 ^5^
14 ^6^
15 ^7^
16 ^8^
17 ^Cambiar a la página 1^
18 ^Cambiar a la página 2^
19 ^Cambiar a la página 3^
20 ^Cambiar a la página 4^
21 ^Cambiar a la página 5^
22 ^Cambiar a la página 6^
23 ^Cambiar a la página 7^
24 ^Cambiar a la página 8^
25 ^Ver Relaciones Entrantes^
26 ^Ver Relaciones Salientes^
27 ^Relaciones entrantes:^
28 ^Cómo se sienten otros Sims contigo^
29 ^Relaciones salientes:^
30 ^Cómo te sientes con otros Sims^
31 ^Tiempo de Vida:^
32 ^Diario:^
33 ^Refrescar Sim Actual^
