// Language Markup Strings for Maxis Roommate Letters

// case kMSGID_AskInviteeToAcceptRMInvite:

// N.B. The text for the in house invite confirmation exists in the social2siminteractions.iff string table.


	// letter subject
	1 ^Solicitud de Inquilino^

	// letter txt
	2 ^¡Has sido invitado a ser el Inquilino de %s mientras estabas desconectado!
Para saber qué significa esta invitación y si quieres aceptarla o rechazarla, haz clic en "Responder".^
	// letter from
	3 ^Invitador^


//case kMSGID_TellInviterInviteeRejectedRMInvite:
	// letter subject
	4 ^Solicitud de Inquilino rechazada^

	// letter txt
	5 ^Este Sim ha rechazado ser tu Inquilino. Quizás hay algún otro Sim en quien confiar disponible.^

	// letter from
	6 ^Invitador^



// case kMSGID_TellInviteeSetAcceptRMFailed:
	// letter subject
	7 ^Solicitud de Inquilino cancelada^

	// letter txt
	8 ^Ocurrió un error mientras te hacias Inquilino de este Sim. La Solicitud ha sido cancelada.^

	// letter from
	9 ^Invitador^

// case kMSGID_TellInviterSetPendingRMFailed_NoOwnerLot:
	// letter subject
	10 ^Invitación de Inquilino cancelada^

	// letter txt
	11 ^Ocurrió un error mientras te hacias Inquilino de este Sim. La Solicitud ha sido cancelada.^

	// letter from
	12 ^Invitador^


// case kMSGID_TellInviteeSetAcceptRMSucceeded:
	// letter subject
	13 ^Invitación de Inquilino completada^

	// letter txt
	14 ^¡Ahora eres Inquilino de este Sim! Hay muchas ventajas de ser Inquilino, por ejemplo, ahora ampliar el espacio de construcción será mucho más barato.^

	// letter from
	15 ^Invitador^


// case kMSGID_TellInviterSetAcceptRMSucceeded:
	// letter subject
	16 ^Invitación de Inquilino completada^

	// letter txt
	17 ^¡Ahora eres Inquilino de este Sim! Hay muchas ventajas de ser Inquilino, por ejemplo, ahora ampliar el espacio de construcción será mucho más barato.^

	// letter from
	18 ^Invitador^


// case kMSGID_TellOwnerKickoutRMSucceeded:
	// letter subject
	19 ^Expulsión del Inquilino completada^

	// letter txt
	20 ^Has expulsado con éxito a este Sim. Hay algunas consecuencias por expulsar a un Inquilino, por ejemplo, sus objetos serán marcados para eliminarlos y serán eliminados de tu solar. Quizás tengas otro amigo más confiable.^

	// letter from
	21 ^El antiguo Inquilino^


// case kMSGID_TellOwnerKickoutRMFailed:
	// letter subject
	22 ^Expulsión del Inquilino cancelada^

	// letter txt
	23 ^Ocurrió un error cuando se intentaba expulsar al Inquilino. Expulsión cancelada.^

	// letter from
	24 ^Inquilino^


// case kMSGID_TellRoommateTheyWereKickedout:
	// letter subject
	25 ^Expulsión del Inquilino finalizada^

	// letter txt
	26 ^El dueño de la propiedad te ha expulsado y ya no eres un inquilino. Puedes hacerte inquilino de otra propiedad, o comprar tu propia propiedad.^


	// letter from
	27 ^Dueño^


// case kMSGID_TellRMThatRMMovedOut:
	// letter subject
	28 ^Mudanza de Inquilino completada^

	// letter txt
	29 ^El Inquilino se ha ido de tu propiedad. Hay algunas consecuencias, por ejemplo, sus objetos están marcados para eliminarlos y serán quitados de tu propiedad. Quizás tengas un Inquilino más confiable.^

	// letter from
	30 ^Inquilino^

// case kMSGID_TellRMKickoutRM:
	// letter subject
	31 ^Expulsión del Inquilino completada^

	// letter txt
	32 ^El Inquilino se ha sido expulsado de tu propiedad. Hay algunas consecuencias, por ejemplo, sus objetos están marcados para eliminarlos y serán quitados de tu propiedad. Quizás tengas un Inquilino más confiable.^

	// letter from
	33 ^Inquilino^


// case kMSGID_TellRMNewRM:
	// letter subject
	34 ^Invitación de Inquilino completada^

	// letter txt
	35 ^Este Sim se ha unido a tu propiedad como Inquilino. Hay muchos beneficios, como ampliar tu terreno por menos dinero. ¡Disfruta de tu nuevo inquilino!^

	// letter from
	36 ^Nuevo Inquilino^

// case kMSGID_TellRoommateMoveOutSucceeded:
	// letter subject
	37 ^Mudanza de Inquilino completada^

	// letter txt
	38 ^Te has ido de la propiedad con éxito. Si eres el dueño del terreno, el inquilino con más tiempo será el nuevo dueño. Puedes ser inquilino de alguien, o comprar una nueva propiedad. No es necesario ser inquilino o dueño para visitar otros lugares.^


	// letter from
	39 ^Yo^


