1 ^Tu número de relaciones:

%s Amigos
%s Enemigos

¡Red de relaciones próximamente!^
2 ^Parece que FreeSO se ha cerrado antes de iniciarse. Debido a esto, hemos bajado los gráficos al mínimo. Quizás puedas activar "Propiedades circundantes" sin problema, pero no es recomendable que actives la Iluminación avanzada. Si tu juego no se colgó, puedes ignorar este mensaje.^