1 ^Herramienta de Terreno^
2 ^Nivelar Terreno^
3 ^Césped^

101 ^Usa esta herramienta para crear interesantes paisajes, que impresionará a los visitantes y harán que las llamas se acerquen a tu propiedad. Haz clic en la esquina de una baldosa y arrastra para cambiar su altura. Esto puede que eleve las baldosas circundantes para evitar que el terreno sea demasiado escarpado.
Mantén Shift para tener un control más exhaustivo sobre el nivel del terreno. Mantén CTRL para usar un patrón suavizado para cambiar el nivel del terreno. El terreno modificado provocará que la hierba se elimine. ^
102 ^Usa esta herramienta para crear zonas planas y poder colocar edificaciones y objetos. Haz clic en la esquina de una baldosa con la altura objetiva, luego arrastra por el area que te gustaría aplanar a esa altura.
Mantén CTRL para usar un patrón suavizado para cambiar el nivel del terreno. El terreno modificado provocará que la hierba se elimine.^
103 ^Usa esta herramienta para añadir o eliminar el césped de algún lugar de tu propiedad. Es útil para crear caminos, o revivir el césped después de modificar el terreno. Haz clic en la esquina de una baldosa y arrastra para comenzar a pintar el terreno.
Mantén Shift para tener un control más exhaustivo sobre el nivel de hierba. Mantén CTRL para eliminar la hierba.^