1 ^Propiedades circundantes^
2 ^Sombras de Ciudad^
3 ^Iluminación avanzada^
4 ^Detalles de sombras^
5 ^Forzar Orden-Z^
6 ^Zoom suave^	
7 ^Sombras de objetos^

8 ^Sin propiedades circundantes. Un vacío gris rodea las propiedades.^
9 ^Propiedades circundantes vacías. (solo árboles y terreno)^
10 ^Propiedades circundantes completas. (arquitectura y objetos exteriores)^

11 ^Sombras 3D^
12 ^Skybox^

13 ^Ajustar DPI^
14 ^Cambiar al modo 3D^
15 ^Cambiar al modo 2D^

16 ^Iluminación avanzada:^
17 ^Apagado/FSO/+Paredes/+Objetos^
18 ^Luz direccional (Solo 3D)^

19 ^Activar:^
20 ^Clima^
21 ^Opciones gráficas^
22 ^Detalles:^

23 ^Compresión de texturas^
24 ^Habilita la compresión de texturas DXT5 para paredes, suelos y objetos. Los Sprites toman 1/4 de la VRAM a costa de calidad visual. Útil para evitar bloqueos en Intel HD Graphics o GPU antiguas.^
25 ^¡Esta opción no tendrá efecto hasta que reinicies el juego!^