1 ^Ordenar por:^
2 ^Amigos^
3 ^Enemigos^
4 ^Casi amigos^
5 ^Casi enemigos^
6 ^Inquilinos^

7 ^Amigos %s - Enemigos %s^

8 ^Entrante^
9 ^Saliente^

10 ^Red de Relaciones^
11 ^Red de Relaciones (%s)^

12 ^Cambiar a Entrantes^
13 ^Cambiar a Salientes^

14 ^Buscar:^