//Community Lots

1 ^Donado por: %s^
2 ^¡¡¡ADVERTENCIA!!!^
3 ^Has abierto tu inventario en una propiedad de tipo Comunidad. Si donas un objeto de tu inventario, YA NO SERÁ TUYO Y NO PODRÁS RECOGERLO O VENDERLO. Asegúrate de que sabes lo que estás haciendo. Si eres el Alcalde, deberías colocar objetos importantes en modo "Normal" para que puedas recogerlos cuando quieras.^
4 ^DONANDO: DESCUENTO AL 66%, PERO ¡DEJARÁN DE SER TUYOS AL DONARLOS!^
5 ^Donantes: (añádelos mediante búsqueda)^
6 ^Gestionar donantes^
7 ^¿Estás seguro de que quieres añadir a %s como Donante? Podrán colocar objetos en esta propiedad (no borrar) y pueden usar interacciones de Inquilino/Compañero de piso en todos los objetos. Si les das permisos para construir, podrán borrar objetos del Modo Construir.^
8 ^ (Alcalde)^

10 ^Benefactor - ^
11 ^Donante - ^

12 ^Gestionar Inquilinos^
13 ^Inquilinos: (añádelos mediante búsqueda)^

14 ^Has invitado a este Sim a ser tu inquilino/compañero de piso con éxito. Tendrás que esperar a su respuesta antes de que aparezcan en tu lista de inquilinos.^
15 ^Este Sim ya es inquilino en otra propiedad. ¡Solo puedes invitar Sims que no vivan en ninguna propiedad!^
16 ^Ya se ha invitado a este Sim a ser inquilino, y se está esperando una respuesta por su parte. Tendrás que esperar a que respondan antes de continuar.^