1 ^Habilidades activadas^
2 ^Habilidades de visitantes activadas^
3 ^Habilidades desactivadas^

4 ^¡Solo puedes cambiar el estado de las habilidades cuando la propiedad está cerrada!^

5 ^Modo de habilidades^
6 ^Puedes cambiar el funcionamiento de las habilidades en tu propiedad. Si las habilidades están desactivadas, los jugadores afectados no conseguirán dinero en objetos, tampoco podrán mejorar sus habilidades. Sin embargo, sus habilidades no decaerán, permitiendo así una experiencia más casual.^
7 ^Tu tipo de propiedad tiene las habilidades desactivadas para los visitantes de manera predeterminada.^

8 ^Activar Habilidades/Dinero^
9 ^Desactivar habilidades para los visitantes^
10 ^Desactivar habilidades para todos^