1  ^Pagina precedente^
2  ^Pagina successiva^
3  ^Comfort^
4  ^Superfici^
5  ^Decorazioni^
6  ^Divertimento^
7  ^Elettrodomestici^
8  ^Oggetti abilità e lavoro^
9  ^Illuminazione^
10 ^Altro^
11 ^Salotto^
12 ^Sala da pranzo^
13 ^Camera da letto^
14 ^Studio^
15 ^Cucina^
16 ^Bagno^
17 ^Esterni^
18 ^Inventario^
19 ^You cannot place objects on this property as a visitor, but you still can sell back or trade inventory objects.^
20 ^MapBuildingMode^
21 ^Animali^
22 ^You cannot place this object in this lot, as it is already here. To resolve this problem, the lot must be closed and reopened.^
23 ^You cannot place objects on this property as a ghost.^