1 ^In quale città vuoi vivere?^
2 ^Ok^
3 ^Annulla^
4 ^Scorri su^
5 ^Scorri giu'^
6 ^Nome citta'^
7 ^Online^
8 ^Sims Online^
9 ^Stato^
10 ^Ordina per nome citta'^
11 ^Ordina per stato citta' online^
12 ^Ordina per numero di sims online^
13 ^Ordina per stato citta'^
14 ^Si^
15 ^No^
16 ^Occupata^
17 ^Piena^
18 ^Occ./Piena^
19 ^Ok^
20 ^Città non disponibile^
21 ^Un tuo sim vive gia' in questa citta'. E' ammesso un solo sim per citta', quindi devi prima ritirare quello attuale.^
22 ^Citta' piena^
23 ^La citta' e' piena, non e' possibile creare nuovi Sims.^
24 ^Città occupata^
25 ^Impossibile stabilire una connessione alla citta'. Manutenzione in corso.^
26 ^Chiuso^