// Async Sale String
1 ^Oggetto in vendita^
2 ^Stai per mettere in vendita: %s^
3 ^A che prezzo vuoi vendere l'oggetto?^
4 ^Aumenta prezzo di vendita^
5 ^Diminuisci prezzo di vendita^
6 ^Prezzo di vendita^
7 ^Accetta cambiamenti^
8 ^Chiudi finestra e annulla cambiamenti^
9 ^$^
10 ^Questa lettera è stata inviata per conto di un cliente. Un oggetto contrassegnato per la vendita è stato acquistato.^
The '%s' che inizialmente costava %e' stato venduto per  %s a %s.^
11 ^Transazione di vendita completata^
12 ^Contabilita' negozi^
13 ^L'acquisto non e' stato completato. L'oggetto potrebbe essere non piu' disponibile o in fase di revisione da parte del venditore.^
