1  ^Prova questo articolo^
2  ^Aquista l'articolo selezionato^
3  ^Nome appendiabiti^
4  ^Prezzo articolo^
5  ^Aquista articolo^
6  ^Scelta eccellente! Vuoi metterlo ora?^
7  ^Dando un'occhiata...^
8  ^Questo outfit non e' per il tuo sesso.^
9  ^Non puoi permetterti l'articolo.^
10 ^Non hai piu' spazio nello zaino.^