1  ^Elimina l'outfit selezionato^
2  ^Aggiungi l'outfit selezionato^
3  ^Mostra catalogo outfit maschile^
4  ^Mostra catalogo outfit femminile^
5  ^Nome appendiabiti^
6  ^Prezzo articolo^
7  ^Aggiungi articolo^
8  ^Vuoi aggiungere l'articolo selezionato?^
9  ^Elimina articolo^
10 ^Vuoi rimuovere l'articolo selezionato??^
11  ^Non hai abbastanza fondi per questo articolo.^
12  ^Non c'e' piu' spazio in questo appendiabiti.^
13  ^Non puoi permetterti l'articolo.^
14  ^Aggiungere l'articolo costera' $^