^Pagina precedente^
^Pagina successiva^
^Fondi insufficenti^
^Nessuna descrizione^
^Maxis™ e' un marchio di Electronic Arts™.^
^(c) 2016 Electronic Arts Inc. Tutti i diritti riservati.^
^Most compatible with: ^
^Least compatible with: ^
^Disable Quick Tips?^
^Quick Tips allow the popup windows in the Control Panel to appear without pausing or requiring a mouse click. Now that you are more familiar with the game would you like to turn off Quick Tips?^
^^ was 'The Sims Version 1.0'
^Build Version^
^House Rating^
^^ was 'Friend Rating'
^^ was 'Job Rating'
^Mood Rating^
^^ was 'School'
^Internal Error:%ld^

