1  ^Chiudi^
2  ^Entra nella proprieta'^
3  ^Scorri a sinistra^
4  ^Scorri a destra^
5  ^Nome proprieta'^
6  ^Descrizione proprieta'^
7  ^Contrai^
8  ^Espandi^
9  ^Scorri su^
10 ^Scorri giu'^
11 ^La proprieta' e' offline^
12 ^Inserisci la password per cambiare la descrizione della proprieta'.^
13 ^Password errata, prova di nuovo.^
14 ^Password errata^
15 ^Il nome inserito e' invalido, potrebbero essersi verificati i seguenti problemi:^
16 ^- Nome troppo corto, sono necessari 3 caratteri.^
17 ^- Nome troppo lungo, puo' contenere solo 24 caratteri.^
18 ^- Non sono ammessi numeri (0-9).^
19 ^- Un solo apostrofo permesso (').^
20 ^- Un solo trattino permesso (-).^
21 ^- Solo due spazi non continui amessi.^
22 ^- Non sono ammessi caratteri speciali.^
23 ^- Una parola inappropriata o riservata rilevata.^
24 ^Clicca per modificare il nome della proprieta'^
25 ^Numero di sim nella proprieta'^
26 ^Categoria proprieta': %s^
27 ^ - Clicca per cambiare^
28 ^Valore proprieta'^
29 ^La categoria della proprieta' puo' essere cambiata solo dal leader di essa.^
30 ^La tua proprieta' deve essere vuota prima che la categoria possa essere cambiata.^
31 ^La categoria del lotto non puo' essere cambiata per almeno %d giorni.^
32 ^Verificando che la tua proprieta' sia libera e chiusa... Riprova in %d secondi.^
33 ^Neighborhood Affiliation^
34 ^Click To Edit Your Neighborhood Affiliation^
35 ^Neighborhood^
36 ^You have created a pending neighborhood. Your neighbors will see this neighborhood as an option in their property pages. A neighborhood name will appear on screen once there are at least three members properties. To appear at city view, your neighborhood must be one of the ten largest in the city.^
37 ^Quartiere creato^
38 ^You have successfully joined a neighborhood. Make sure you talk with the neighborhood leader to understand what their goals for the neighborhood are. If a neighborhood has at least three member properties, its name appears in the close map zoom. To appear at city view, your neighborhood must be one of the ten largest in the city.^
39 ^Ti sei unito al quartiere^

