1  ^Sim con segnalibro^
2  ^Lista ignorati^
3  ^Pagina sim^
4  ^Elimina segnalibro^
5  ^Invia messaggio^
6  ^Chiudi^
7  ^Scorri su^
8  ^Scorri giu'^
9  ^Aggiungere nuovo amico ai segnalibri?^
10 ^Hai un nuovo amico!^
11 ^Rimuovi da lista ignorati^
12 ^Impossibile rimuovere segnalibro^
13 ^Impossibile rimuovere segnalibro a compagno di stanza.^
