 1 ^Acciughe^
 2 ^Formaggio^
 3 ^Impasto^
 4 ^Funghi^
 5 ^Salamino piccante^
 6 ^Sugo^
 7 ^seleziona un ingrediente^

 8 ^Grande ^
 9 ^Medio ^
10 ^Piccolo ^

11 ^Corpo: ^
12 ^Cucina: ^
13 ^Carisma: ^

14 ^serve un sim^

15 ^Sono necessari 4 Sim per fare la pizza.^
16 ^In attesa di una chiamata...^
17 ^Prendendo l'ordine...^
18 ^Ogni giocatore deve inserire un'ingrediente.^
19 ^Creando la pizza...^
20 ^Cuocendo la pizza...^
21 ^La tua pizza e' un disastro!^
22 ^Bel lavoro! La pizza e' un successo!^
23 ^Mama-mia! Pizza perfetta!^