1  ^Compra proprieta'^
2  ^Inserisci il nome della tua proprieta'. Il nome deve essere unico e puo' essere cambiato in seguito.^
3  ^Il nome che hai scelto non e' valido, per il seguente/i motivo/i:^
4  ^- Nome troppo corto. Sono necessari 3 caratteri.^
5  ^- Nome troppo lungo. Il massimo di caratteri e' 24^
6  ^- Non sono permessi numeri nel nome.^
7  ^- Un solo apostrofo permesso nel nome.^
8  ^- Un solo trattino permesso nel nome.^
9  ^- Solo due spazi non contigui permessi nel nome.^
10 ^- Non sono permessi caratteri speciali nel nome.^
11 ^- Il nome contiene una parola riservata o inappropriata.^
12 ^Annulla l'acquisto^
13 ^Compra la proprieta'^
14 ^Inserisci la password del controllo genitori per chiamare cosi' la tua proprieta':^
15 ^Passowrd non corretta, prova di nuovo:^
16 ^Password non corretta.^
