1  ^Rimuovi questo elemento dal tuo zaino.^
2  ^Cambiati con questo capo^
3  ^Cambiati in quotidiani^
4  ^Cambiati in costume^
5  ^Cambiati in pigiama^
6  ^Seleziona come capo predefinito per questa categoria^
7  ^Elimina capo^
8  ^Vuoi rimuovere questo capo permanentemente? Dovrai pagare per riaverlo in futuro.^
9  ^Accessori testa^
10 ^Accessori schiena^ 
11 ^Accessori piedi^
12 ^Code^
