1  ^Compagni di stanza:^
2  ^Permesso costruzione^
3  ^Clicca per rimuovere i permessi di costruzione^
4  ^Clicca per garantire i permessi di costruzione^
5  ^Salva impostazioni^
6  ^Il tuo privilegio di %s e' stato rimosso dal proprietario.^
7  ^Privilegi compagni di stanza^
