1  ^Rete amicizie^
2  ^Manda messaggio a questo sim^
3  ^Segnalibro sul sim^
4  ^Nome sim^
5  ^Chiudi^
6  ^Espandi^
7  ^Contrai^
8  ^Dove sono?^
9  ^Dove e' la mia proprieta'?^
10 ^Descrizione Sim^
11 ^Abilita' e obbiettivi sim^
12 ^Impostazioni permessi sim^
13 ^Descrizione sim^
14 ^Scorri su^
15 ^Scorri giu'^
16 ^Abilita' sim^
17 ^Tecnica^
18 ^Cucina^
19 ^Carisma^
20 ^Logica^
21 ^Corpo^
22 ^Creativita'^
23 ^Abilita' tecnica: %d.%.2d^
24 ^Abilita' cucina: %d.%.2d^
25 ^Abilita' carisma: %d.%.2d^
26 ^Abilita' logica: %d.%.2d^
27 ^Abilita' corpo: %d.%.2d^
28 ^Abilita' creativita': %d.%.2d^
29 ^Aggiungi il sim alla lista ban.^
30 ^Aggiungi il sim alla lista ammessi.^
31 ^Ignora il sim^
32 ^Invita a compagno di stanza^
33 ^Caccia dalla proprieta'^
34 ^Blocco parentale^
35 ^Nato il: %s Eta': %d giorni^
36 ^Nato il: %s Eta': 1 giorno^
37 ^Inserisci la password del controllo parentale per cambiare la descrizione del sim.^
38 ^Aggiungi il sim alla lista ammessi^
39 ^La lista e' piena, impossibile aggiungere altri sim.^
40 ^Aggiungi il sim alla lista ban^
41 ^La lista e' piena, impossibile aggiungere altri sim.^
42 ^Password sbagliata, prova di nuovo.^
43 ^Password sbagliata.^
44 ^Impossibile rimuovere il segnalibro^
45 ^Non puoi rimuovere il segnalibro ad un compagno di stanza.^
46 ^Fondatore^
47 ^Sblocca questa abilita'^
48 ^Blocca questa abilita'^
49 ^%d di %d punti abilita' bloccati^
50 ^Impossibile localizzare un sim ignorato.^
51 ^Impossibile localizzare un sim che ti sta ignorando.^
52 ^Questo sim non e' in un lotto al momento, riprova piu' tardi.^
53 ^Blocca "Dove sono"^
54 ^La funzione "Dove sono" e' stata disattivata. Gli altri giocatori non possono trovarti tramita questa funzione.  Vuoi riattivare la funzione per renderti visibile a gli altri sim?
^
55 ^La funzione "Dove sono" e' attiva.  Vuoi disattivarla per evitare che altri utenti ti trovino tramite il tasto "Dove sono"?
^
56 ^Disattiva "Dove sono"^
57 ^Attiva "Dove sono"^
58 ^Posizione di lavoro^
59 ^Posizioni di lavoro raggiunte^
60 ^Posizione corrente:^
61 ^Disoccupato^
62 ^Altre posizioni:^
63 ^Piu' info lavorative^
64 ^Informazioni lavoro^
65 ^Tipo impiego corrente: %s
Posizione: %s
Ore: %s
Passaggio: piu o meno %s
Promozione: %s^
66 ^Tipo di lavoro corrente: lavoratore autonomo
Posizione: Imprenditore
Ore: Variabile
Passaggio: Nessuno
Promozione: Promozione autonoma^
67 ^Nessuno^
68 ^Impiegato fabbrica di robot^
69 ^Cameriere^
70 ^Cuoco^
71 ^DJ^
72 ^Ballerino^
73 ^9:00am - 5:00pm^
74 ^8:00am^
75 ^11:00am - 7:00pm^
76 ^10:00am^
77 ^8:00pm - 4:00am^
78 ^7:00pm^
79 ^Hai raggiunto la posizione massima della tua carriera.^
80 ^Amicizie del sim^
81 ^Cosa senti per questo sim?^
82 ^Cosa sente questo sim per te?^
83 ^Giornaliero:^
84 ^Vitalizio:^
85 ^ Giorno^
86 ^ Giorni^
87 ^I rapporti di oggi con questo sim^
88 ^I rapporti di sempre con questo sim^
89 ^I rapporti di oggi di questo sim con te^
90 ^I rapporti di sempre di questo sim con te^
91 ^Durata relazione con questo sim^
92 ^Durate relazione di questo sim con te^
93 ^Questo sim e' gia' proprietario o compagno di stanza da qualche altra parte. Dovrai aspettare che il sim si trasferisca per invitarlo di nuovo.^
94 ^Invito a compagno di stanza fallito^
95 ^Abbandona la tua proprieta'^
