1 ^Aggiornamento FreeSO^
2 ^Download %s, (%s/%s, %s/%s file) ^

3 ^Aggiornamento richiesto^
4 ^Il server a cui ti stai connettendo richiede la versione %s del %s branch installata. La versione del tuo client e' la %s del %s branch. Puoi scaricare la nuova versione direttamente dal server ora. Desideri continuare?

Ricorda di installare aggiornamenti solo da server di cui ti fidi! Se non desideri continuare verra' mostrata la schermata di login.^

5 ^Pacchetti contenuto richiesti^
6 ^Il server a cui stai tentando di connetterti richiede questi pacchetti contenuto: 
%s

Questi pacchetti possono essere scaricati dal server. Desideri continuare? Ricorda di scaricare pacchetti contenuto solo da server di cui ti fidi! Se non desideri continuare verra' mostrata la schermata di login.^

7 ^Riavvio richiesto^
8 ^Il server a cui ti stai connettendo contiene un diverso set di pacchetti contenuto. FreeSO deve essere riavviato per eliminare i dati del server precedente.^

9 ^Download dei File...^
10 ^Aggiornamento^
11 ^Attenzione!^
12 ^Hai deciso di non aggiornare alla nuova versione del gioco. Questo non influira nell'esperienza di gioco da parte del server, ma potrebbe causare lag e disconnessioni improvvise. Ricorda di ignorare le nuove versioni solo se sei uno sviluppatore!^
13 ^FreeSO si riavviera'. Clicca OK per avviare l'aggiornamento.^