1 ^Ruleta^
2 ^Blackjack^
3 ^- Mesa^
4 ^¡%s ha quebrado!^
5 ^¡%s tiene blackjack!^
6 ^%s se planta en %d.^
7 ^%s no tiene blackjack.^
8 ^Seguro^
9 ^¡Asegurado!^
10 ^Error^
11 ^¿Te gustaría asegurar?^
12 ^El seguro cuesta la mitad de tu apuesta, que es $%d.^
13 ^Si compras el seguro y el repartidor tiene blackjack, recibirás el total de la cantidad apostada.^
14 ^Has comprado un seguro para $%d.^
15 ^Error de apuestas^
16 ^¡Este mensaje de error nunca debería aparecer. Por favor, informa de esto y lo que hiciste para obtenerlo!^
17 ^Aún no es tu turno.^
18 ^No puedes pedir carta con esta mano.^
19 ^No puedes doblar con esta mano.^
20 ^No puedes dividir con esta mano.^
21 ^Tu apuesta debe ser de, al menos, $%d.^
22 ^Tu apuesta no puede ser superior a $%d.^
23 ^No tienes suficiente dinero para hacer la apuesta.^
24 ^No tienes suficiente dinero como para doblar la apuesta.^
25 ^No tienes suficiente dinero para dividir la apuesta.^
26 ^Puedes observar esta ronda, pero deberás apostar y jugar en la siguiente.^
27 ^Has sido retirado de la mesa por inactividad.^
28 ^La mesa ha cerrado por un balance insuficiente. ¿Quizás es hora de avisar al dueño?^
29 ^Pagos de "La X marca el lugar"^
30 ^Pagos de "'Bote' de Suertudo LLC"^
31 ^No vuelvas hasta que tengas más Simoleones.^
32 ^No puedes poner ni una ficha más.^
33 ^$%d de fichas estarían por encima de la apuesta máxima permitida.^
34 ^Eso estaría por encima del límite de apuestas.^
35 ^Ha ocurrido un error desconocido. Tu última apuesta no ha sido aceptada.^
36 ^Llamar^
37 ^Plantarse^
38 ^Debes hacer una Apuesta Ciega para jugar. Si le ganas al crupier, te paga en base a la mano que tienes (ver: Aprender a usar... Pagos). Pero cuidado: tu apuesta de llamada es 2 veces la apuesta ciega, y debes "Llamar" para ganar tu apuesta..^
39 ^Apuesta ciega^
40 ^Añadir $%d a Apuesta Ciega^
41 ^Añadir $%d a Apuesta Opcional^
42 ^Apuesta Opcional^
43 ^Las apuestas secundarias opcionales se pagan tan pronto como se reparten las primeras 3 cartas comunitarias (el flop) y el pago se basa en la mano de 5 cartas que ganas con el flop y 2 cartas Hole. No tienes que llamar para ganar tu apuesta secundaria, ¡pero debes tener un par de ases o mejor para ganar!^
44 ^Limpair Apuesta Ciega^
45 ^Limpiar Apuesta Opcional^
46 ^Haced vuestras apuestas. Apuesta actual: $%d^
47 ^Espera a la siguiente mano para apostar.^
48 ^%s reveladas, renunciando a sus apuestas inicial.^
49 ^%s lo ve.^
50 ^Hold 'em Casino^
51 ^Tu apuesta debe ser de al menos $%d.^
52 ^Tu apuesta inicial debe ser menor a $%d.^
53 ^Tu apuesta lateral debe ser menor a $%d.^
54 ^No tienes suficiente dinero para llamar. Para poder llamar, debes poner dos veces tu apuesta inicial.^
55 ^Tu apuesta inicial no es válida.^
56 ^Tu apuesta secundaria no es válida, pero tu apuesta inicial es válida. ¿Apostar $0 en la Apuesta Secundaria?^
57 ^No es un número válido. Tu apuesta se ha reiniciado a $0.^
58 ^Tu turno. Hace falta $%d para seguir.^
59 ^Apuesta opcional: $%d para ^
60 ^Escalera real^
61 ^Escalera de color^
62 ^Póquer^
63 ^Full House^
64 ^Color^
65 ^Escalera^
66 ^Tercia^
67 ^Doble pareja^
68 ^Kicker^
69 ^Pareja^
70 ^Carta alta^
71 ^(Min: $%n Max: $%x)^
72 ^El crupier no calificó. Ganas $%d^
73 ^¡Llamado! Divides el bote: ^
74 ^Crupier gana: ^
75 ^Ganas $%d con: ^
76 ^Antes de que se repartan las últimas 2 cartas comunitarias (el turn y el river), tienes que LLAMAR. Tu apuesta de llamada es siempre 2 veces tu apuesta inicial. Después de llamar, si el crupier califica (un par de Cuatros o más), ganas un Pago de apuesta de llamada de 1:1 y tu apuesta Ante se paga según tu mano. También puedes PLANTARTE y perder tu apuesta Ante si no crees que tu mano sea fuerte.^
77 ^Roba 5 Cartas^
78 ^Stud 5 Cartas^
79 ^Roba 7 Cartas^
80 ^Stud 7 Cartas^
81 ^cartas son Wild^
82 ^Pasar^
83 ^Ayuda Apuesta Ante^
84 ^Ayuda Apuesta Lateral^
85 ^Ayuda Llamar o Plantarse^
86 ^Video Poker^
87 ^es $%d para Llamar.^
88 ^No has ganado tu apuesta lateral.^
89 ^Has pasado.^
90 ^Guau. Esa última ronda fue intensa. Demasiado. Hasta parece que ha roto la mesa. ¿Quizás se lo debas decir al dueño?^
91 ^As^
92 ^Rey^
93 ^Reina^
94 ^Sota^
95 ^Diez^
96 ^Nueve^
97 ^Ocho^
98 ^Siete^
99 ^Seis^
100 ^Cinco^
101 ^Cuatro^
102 ^Tres^
103 ^Dos^
104 ^Tréboles^
105 ^Diamantes^
106 ^Corazones^
107 ^Picas^
108 ^alta^