1  ^Grandezza lotto^
2  ^%dx%d caselle^
3  ^Costo aggiornamento:$%d^
4  ^Est. Tax: %d.^
5  ^%d^
6  ^Piu' grande^
7  ^Piu' piccolo^
8  ^Accetta^
9  ^Compa..anza richiesti: %d^
10 ^Mancanza compa..anza:$%d^
11 ^Costo totale:$%d^
