1 ^The Sims Online Login^
2 ^Progresso generale:^
3 ^Stato connessione:^
4 ^In attesa di nome utente e password^
5 ^Connessione al server di gioco...^
6 ^Connessione effettuata.^
7 ^Autorizzazione giocatore...^
8 ^Giocatore autorizzato.^
9 ^Un aggiornamento di gioco e' necessario. Premi OK per aggiornare.^
10 ^Aggiornamento disponibile!^
11 ^Accertati che i seguenti file esistono e possono essere aperti: %s\%s^
12 ^Errore apertura assistente aggiornamento^
13 ^Assicurati che ci sia abbastanza spazio sul PC.^
14 ^Errore installazione assistente aggiornamento.^
15 ^La citta' del tuo sim non e' disponibile al momento.^
16 ^Citta' non disponibile^
17 ^Errore interno. Contatta l'assistenza tecnica.^
18 ^Errore interno^
19 ^Tempo sessione scaduto. Prova a rientrare.^
20 ^Sessione scaduta^
21 ^Errore login^
22 ^Caricamento dati Sim e citta'...^
23 ^Dati caricati.^
24 012 ^EA.com is currently experiencing technical difficulties and this game is temporarily unavailable. Please try again later.^ 
25 020 ^Please enter your EA member name and password. If you forgot your password, you can retrieve it at www.EA.com.^
26 110 ^The member name or password you have entered is incorrect. Please try again.^ 
27 120 ^We're sorry, but you have not registered or subscribed to play this game. Please register at www.EA.com and try again.^
28 121 ^We're sorry, but your subscription has been suspended or cancelled. If you need help, go to http://accountadmin.custhelp.com.^
29 122 ^We're sorry, but you are not registered to play this game.  Please visit http://eamembers.custhelp.com for more info.^
30 123 ^We're sorry, but this registration or product code is no longer valid.^
31 150 ^We're sorry, but your account has been suspended or cancelled. If you need help, go to http://accountadmin.custhelp.com.^
32 160 ^EA.com is currently experiencing technical difficulties and this game is temporarily unavailable. Please try again later.^
33 170 ^EA.com is currently experiencing technical difficulties and this game is temporarily unavailable. Please try again later.^
34 180 ^EA.com is currently experiencing technical difficulties and this game is temporarily unavailable. Please try again later.^
35 300 ^Unable to verify a connection to EA.com.  Please check your Internet connection and make sure your browser is set to accept cookies. If that does not solve the problem, please try again later.^
36 301 ^EA.com is temporarily unavailable. This may be due to routine server maintenance or other network issues. Please try again later.^
37 302 ^The game has experienced an internal error. Please try again.^
38 Unk ^Unknown login error has occurred. The following problem has been reported: %s^
39 ^EA.COM authorization unsuccessful.^
40 ^Errore connessione^
41 ^Connessione fallita.  Uscita in corso.^
42 ^Authorization Failed.  This could mean that you have cookies disabled in your internet settings.  Please ensure that cookies are enabled for tso.ea.com.^
43 ^Errore^
44 ^Codice errore: %d Messaggio errore: %s^
45 ^Error selecting city.  Please click 'OK' to log in again.^
46 ^The game has experienced an internal error.^