1 ^Sim nel lotto: %d^
2 ^Esci dalla proprieta'^
3 ^Sei sicuro di voler lasciare la properieta' in cui sei ora?^
4 ^Online^
5 ^Offline^
6 ^Blocco genitori^
7 ^Categoria proprieta'^
8 ^Stai per cambiare la categoria della tua proprieta'. La nuova categoria avra' diverse caratteristiche nuove ed interessanti, ma potresti possedere oggetti non compatibili con la nuova categoria ed in piu' perderai il bonus visitatori accumulato oggi.
Vecchio - %s
Nuovo - %s
Non potrai cambiare la categoria del lotto per almeno %d giorni. Vuoi continuare?^
9 ^La categoria del lotto e' stata cambiata.
Vecchio - %s
Nuovo - %s
La nuova categoria verra' applicata quando il tuo lotto sara' di nuovo attivo. Non potrai cambiare categoria per almeno %d giorni. ^
10 ^This message was sent on behalf of your house leader.  
The category of your property was changed.
Vecchio - %s
Nuovo - %s
The new category will be in effect the next time your lot is open. ^
11 ^(Your roommate(s) will be notified on your behalf.)^
12 ^You are about to leave the property you're on and travel a long distance. You may be tired after this jaunt.
Do you want to continue?^
13 ^You are about to travel a long distance. You may be tired after this jaunt.
Do you want to continue?^
14 ^Long Distance Travel^
