1  ^Esci dalla proprieta'^
2  ^Sei sicuro di voler uscire da questa proprieta'?^
3  ^Nome proprieta': %s^
4  ^Sims nella proprieta': %d^
5  ^Questa e' la tua proprieta'.^
6  ^Offline^
7  ^Non puoi costruire qui.^
8  ^Il controllo genitori ha impedito la visualizzazione di questo elemento.^
9  ^Lotto libero: $%d^
10 ^Muovi proprieta'^
11 ^Compra proprieta'^

// Leader with roommates move/buy lot dialog ***********************************

12 ^Vuoi davvero spostare la proprieta' e tutti i suoi compagni di stanza qui? 

Questa proprieta' costa %s e tu hai %s fondi. 

Se ti trasferisci, dovrai pagare: %s - il costo di questa proprieta' piu' il costo della tassa di trasferimento di %s fondi, ma riceverai un rimborso di %s - il valore della tua vecchia proprieta'.

La proprieta' deve essere offline per essere spostata dalla sua collocazione originale.

Se desideri comprare questa proprieta' e ricominciare da zero, devi prima andare via dalla tua proprieta' attuale.^ 

13 ^Ricomincia da zero^
14 ^Sposta^
15 ^Annulla^

// Leader with no roommates move/buy lot dialog *********************************

16 ^Vuoi davvero spostare la proprieta' qui?

Questa proprieta' costa %s e tu hai %s fondi.

Se ti trasferisci, dovrai pagare: %s - il costo di questa proprieta' piu' il costo della tassa di trasferimento di %s fondi, ma riceverai un rimborso di %s - il valore della tua vecchia proprieta'.

La proprieta' deve essere offline per essere spostata dalla sua collocazione originale.

Se desideri comprare questa proprieta' e ricominciare da zero, devi prima andare via dalla tua proprieta' attuale.^

13 ^Ricomincia da zero^
14 ^Sposta^
15 ^Annulla^

// Roommate buy lot dialog ******************************************************

20 ^Se lascierai la tua proprieta' attuale i tuoi oggetti verranno conservati. Vuoi procedere?

Questa proprieta' costa %s e tu hai %s fondi.^

21 ^Si^
22 ^No^

// Buy lot dialog ***************************************************************

23 ^Prima di comprare la tua proprieta' personale, prova prima con proprieta' esistenti che hanno bisogno di compagni di stanza. Avere un compagno di stanza ti permette di comprare piu' oggetti, estendere l'area edificabile ed avere pie' visitatori che portano soldi nelle tue tasche. 

Questa proprieta' costa %s e tu hai %s fondi. Vuoi davvero comprare questa proprieta'?^

24 ^Si^
25 ^No^

26 ^Non hai abbastanza fondi per comprare questa proprieta'.^
27 ^Non hai abbastanza fondi per spostare la tua proprieta'.^
28 ^La tua proprieta' deve essere offline per essere spostata.^
29 ^Sposta proprieta'^
30 ^Vuoi davvero spostare la proprieta' dalla sua collocazione originale a qui?^
31 ^Se desideri comprare questa proprieta', devi prima andare via dalla tua proprieta' attuale.^

