1  ^Bonus Premio^
2  ^Data^
3  ^Bonus Visitatore^
4  ^Bonus Proprieta'^
5  ^Bonus Sim^
6  ^Bonus Totale^
7  ^Scorri su'^
8  ^Scorri giu'^
9  ^Questi sono i bonus che ti sono stati accreditati:^
10 ^Totale:^