1  ^Red de Relaciones^
2  ^Enviar un Mensaje a este Sim^
3  ^Marcar a este Sim^
4  ^Nombre del Sim^
5  ^Cerrar^
6  ^Expandir^
7  ^Contraer^
8  ^Dónde estoy^
9  ^Dónde está mi propiedad^
10 ^Descripción del Sim^
11 ^Logros y Habilidades del Sim^
12 ^Opciones de Permisos del Sim^
13 ^Descripción del Sim^
14 ^Hacia arriba^
15 ^Hacia abajo^
16 ^Habilidades del Sim^
17 ^Mecánica^
18 ^Cocina^
19 ^Carisma^
20 ^Lógica^
21 ^Físico^
22 ^Creatividad^
23 ^Habilidades de Mecánica: %d.%.2d^
24 ^Habilidades de Cocina: %d.%.2d^
25 ^Habilidades de Carisma: %d.%.2d^
26 ^Habilidades de Lógica: %d.%.2d^
27 ^Habilidades de Físico: %d.%.2d^
28 ^Creatividad: %d.%.2d^
29 ^Añadir a la Lista de Expulsados^
30 ^Añadir a la Lista de Admitidos^
31 ^Ignorar a este Sim^
32 ^Pedir ser Inquilino^
33 ^Expulsar de tu Propiedad^
34 ^Bloqueo Parental.^
35 ^Nacido: %s Edad: %d dias^
36 ^Nacido: %s Edad: 1 día^
37 ^Por favor, introduce la contraseña del Control Parental para cambiar la descripción de tu Sim.^
38 ^Añadir Sim a la Lista de Admitidos^
39 ^La lista de Admitidos está llena. No se pueden añadir más.^
40 ^Añadir Sim a la Lista de Expulsados^
41 ^La lista de Expulsados está llena. No se pueden añadir más.^
42 ^La contraseña no es correcta. Inténtalo de nuevo.^
43 ^Contraseña incorrecta^
44 ^No se puede desmarcar a un Inquilino^
45 ^Los Inquilinos siempre están marcados.^
46 ^Fundador^
47 ^Desbloquear esta habilidad^
48 ^Bloquear esta habilidad^
49 ^%d de %d puntos de habilidad bloqueados^
50 ^No puedes localizar a este Sim.  Lo estás ignorando.^
51 ^No puedes localizar a este Sim.  Te está ignorando.^
52 ^Este Sim no se está en ninguna propiedad.^
53 ^Ajutes de 'Dónde estoy'^
54 ^Privacidad activada. Los demás jugadores no podrán buscarte mediante la herramienta 'Dónde estoy'. ¿Te gustaría activarla?
^
55 ^Privacidad activada. Los demás jugadores podrán buscarte mediante la herramienta 'Dónde estoy'. ¿Te gustaría desactivarla?
^
56 ^¿Dónde estoy?  Activar privacidad^
57 ^¿Dónde estoy?  Desactivar privacidad^
58 ^Títulos de Trabajo^
59 ^Títulos de Trabajo conseguidos^
60 ^Título actual:^
61 ^Desempleado^
62 ^Otros títulos:^
63 ^Más información^
64 ^Información del Trabajo^
65 ^Tipo de Trabajo actual: %s
Título: %s
Horas: %s
Coche compartido: Sobre %s
Siguiente ascenso: %s^
66 ^Tipo de Trabajo actual: Autónomo
Título: Emprendedor
Horas: Variable
Coche compartido: No
Siguiente promoción: Autopromoción^
67 ^Ninguno^
68 ^Trabajador de la Fábrica de Robots^
69 ^Camarero^
70 ^Cocinero^
71 ^DJ^
72 ^Bailarín^
73 ^9:00am a 5:00pm^
74 ^8:00am^
75 ^11:00am a 7:00pm^
76 ^10:00am^
77 ^8:00pm a 4:00am^
78 ^7:00pm^
79 ^No hay más ascensos a partir de este punto.^
80 ^Relaciones del Sim^
81 ^Saliente: Cómo te sientes con este Sim^
82 ^Entrante: Cómo se siente este Sim contigo^
83 ^Diario:^
84 ^Tiempo de Vida:^
85 ^ Día^
86 ^ Dias^
87 ^Tu relación diaria con este Sim^
88 ^Tu relación de toda la vida con este Sim^
89 ^Relación diaria de este Sim contigo^
90 ^Relación de toda la vida de este Sim contigo^
91 ^Duración de tu relación con este Sim^
92 ^Duración de la relación de este Sim contigo^
93 ^Lo sentimos, este Sim ya es Inquilino de alguien. Deberá mudarse o irse de la propiedad para aceptar tu solicitud.^
94 ^Invitación de Inquilino fallida^
95 ^Irse de tu propiedad^
