1  ^Hecho^
2  ^Cancelar^
3  ^Cerrar^
4  ^Tipo de Petición Acoso^
5  ^Tipo de Petición Atascado^
6  ^Tipo de Petición Otro^
7  ^Descripción de la Petición^
8  ^Contactar con el Servicio al Consumidor^
9  ^Describe tu problema en el cuadro inferior:^
10 ^Tipo de Problema:^
11 ^Acoso^
12 ^Atascado^
13 ^Otro^
14 ^Notificación del Servicio al Consumidor^    Disciplinary Action dialog Title - Used in SystemMessageRegulator.cpp	JPS 6/16/2002

Below strings are for the Global Petitioning System. Added by adavies@ea.com 7/1/2002

15 ^Petición Enviada^  
16 ^Envío de Petición fallido^  
17 ^Tu incidente ha sido registrado y estamos trabajando en solucionarlo. Ten en cuenta que si has informado acerca de un Sim ha sido añadido a tu lista de ignorados. Gracias.^
18 ^Ha ocurrido un error informando de la incidencia. Ten en cuanta que si has informado acerca de un Sim ha sido añadido a tu lista de ignorados. Gracias.^

19 ^Petición Resuelta^
20 ^Tu petición fue resuelta el ^