1  ^Sims Marcados^
2  ^Lista de Ignorados^
3  ^Página del Sim^
4  ^Borrar Marcador^
5  ^Enviar Mensaje^
6  ^Cerrar^
7  ^Hacia arriba^
8  ^Hacia abajo^
9  ^¿Añadir tu nuevo amigo a tus marcadores?^
10 ^¡Has hecho un amigo!^
11 ^Eliminar de la Lista de Ignorados^
12 ^No puedes quitar de marcadores a un Inquilino^
13 ^Los Inquilinos siempre están marcados.^
