1 ^Añadir este Sim a la Lista de Expulsados de tu propiedad.^
2 ^Añadir este Sim a la Lista de Ignorados.^
3 ^Has echado con éxito a "%s" de tu propiedad. ¿Te gustaría expulsarlo o ignorarlo?^
4 ^Expulsar o ignorar al Sim^
5 ^Este jugador ha sido añadido a tu Lista de Expulsados. Deberás activar la Lista de Expulsados en el Modo Propiedad para activar los cambios.^
6 ^Información de la Expulsión^
