1 ^Información General^
2 ^Información Específica^
3 ^Just a long text to test the stuff - This highlights phase B - new architecture: items in the yellow section minus tasks marked "temporary" (items related to UI and Permissions); Multiple players in B/B mode while others on lot; Functional Catalog view and General Object Info panel as they exist.; Some indicator of Roommates objects^

4  ^Hambre: %d^
5  ^Comodidad: %d^
6  ^Higiene: %d^
7  ^Vejiga: %d^
8  ^Energía: %d^
9  ^Diversión: %d^
10 ^Habitación: %d^

11 ^+ Cocina^
12 ^+ Mecánica^
13 ^+ Lógica^
14 ^+ Físico^
15 ^+ Creatividad^
16 ^+ Carisma^
17 ^+ Estudio^

18 ^Actividad de Grupo^
19 ^Precio de Venta: ^
20 ^Vender de nuevo^
21 ^Añadir a tu Inventario^
22 ^Comprarselo al dueño^
23 ^Uso:^
24 ^Dueño: %s^
25 ^Valor actual: %s^
26 ^Precio de Venta^
27 ^Poner objeto a la Venta^
28 ^Cancelar Venta^
29 ^Editar Precio de Venta^
30 ^A la Venta:^

31 ^Hacia arriba^
32 ^Hacia abajo^

33 ^Nadie^

34 ^¡Roto!^
35 ^¡Necesita una mejora!^

36 ^Descuento del %d%%^
37 ^Precio Final: ^
38 ^Costo original: ^

39 ^Dinero: ^

40 ^Item a la Venta^
41 ^Objeto: ^
42 ^Vestir: %d%%^
43 ^Valor actual: ^
44 ^Dinero en objeto: ^
45 ^Este objeto está ROTO y necesitará repararse antes de usarse. (La reparación subirá el valor del objeto.)^
46 ^Precio que pide: ^
47 ^¿Quieres comprar este objeto?^

48 ^Depreciated value and cash in object^
49 ^Depreciated value^

50 ^No puedes comprar este objeto porque tu inventario está muy lleno.^
51 ^No puedes comprar este objeto porque no tienes suficientes^
52 ^El vendedor está revisando el objeto en estos momentos^

53 ^Desactivado^
54 ^Este objeto está TEMPORALMENTE DESACTIVADO.^

55 ^Este objeto NECESITA UNA MEJORA antes de usarse. (Las mejoras también subirán el valor del objeto.)^

56 ^Valor actual: %s (Reembolso total)^

57 ^Construido por: %s^