1 ^Bailar al ritmo de la música^
2 ^Cerrar^
3 ^Golpes laterales^
4 ^Conductor^
5 ^Ola^
6 ^Fichar^
7 ^Shimmy^
8 ^Boogie^
9 ^Dedo al cielo^
10 ^Giro aleatorio^
11 ^Meneo de cadera^
12 ^Disco^
13 ^El Punto^
14 ^Estilo libre^
15 ^Giro de muñecas^
16 ^Rumba^
17 ^Hula^
18 ^Giro Hula^
19 ^Tacón, punta^
20 ^Vuelta con talón^
21 ^Scoot^
22 ^Talón hacia fuera^
23 ^Zombie^
24 ^Robot^
25 ^Hyperspin^
26 ^Moonwalk^
