1  ^Quejarse de un Sim^
2  ^Acoso^
3  ^Hacer trampa^
4  ^Acción ilegal^
5  ^Actitud inapropiada^
6  ^Nombre de Propiedad/Sim inapropiado^
7  ^Lenguaje ofensivo^
8  ^Otro^
9  ^Si otro jugador le causa molestias, es importante que intentes mejorar la situación ANTES DE QUE envíes una queja. Sin embargo, si continuamente te molestan, amenazan, o no cumplen las normas, lo mejor será poner la queja lo antes posible. El personal de FreeSO tomará las acciones convenientes.^
10 ^Si alguien te dice que ha encontrado una manera rápida de conseguir Simoleones, debes enviar una queja lo antes posible. Esta categoría también puede usarse para informar sobre TIMOS. El personal de FreeSO tomará las acciones convenientes.^
11 ^Las leyes de la vida real se aplican también a la vida virtual. Esto incluye venta de objetos por dinero real, discusiones inaceptables o insultos hacia el personal de FreeSO. El personal de FreeSO tomará las acciones convenientes.^
12 ^Insultar o menospreciar por raza, religión o por cualquier motivo está prohibido. Es recomendable ignorar al Sim, pero si este continúa, se debe enviar una queja. El personal de FreeSO tomará las acciones convenientes.^
13 ^Si ves que el nombre de la propiedad o del Sim es ofensivo, envía una queja en esta categoría. El personal de FreeSO tomará las acciones convenientes.^
14 ^You can ignore or filter offensive language through the use of in-game options. To Ignore another player, please click the "Ignore a Sim" button below and add offensive Sims to your permanent Ignore List. To add specific words in which you never want to see, access the Chat Filter (located in the Options section of the Universal Control Panel at the bottom of the screen) and add the offensive words to your filter list. For more help, press "Back" to return to the Help page and type in your question.^
15 ^For help with issues concerning your account, technical support, game play questions or anything else, press "Back" to return to the Help page and type in your question.^
16 ^Please select a complaint type from the list on the left.^
17 ^We only accept complaints regarding violations of The Sims Online Terms of Service. Please use this tool only for legitimate complaints. Misuse may result in action being taken against your account.^
18 ^How to "Ignore" another player^
19 ^Provides information on steps to take to ignore another player in The Sims Online. Note that this will launch a web browser on your desktop.^
20 ^View The Sims Online Terms of Service^
21 ^Provides information regarding The Sims Online Terms of Service. Note that this will launch a web browser on your desktop.^
22 ^Back^
23 ^Return to The Sims Online Player Petitioning Help dialog.^
24 ^Cancel^
25 ^Cancel complaint submission and return to The Sims Online.^
26 ^Continue^
27 ^Proceed to next step of complaint submission process.^
28 ^No complaint type selected. Cannot continue until Complaint type selected from list at left.^
29 ^Improper chat/messaging is not petitionable (see description above). Cannot continue.^
30 ^"Other" complaints are not petitionable (see description above). Cannot continue.^
31 ^http://www.ea.com/global/legal/tos.jsp^
32 ^We were unable to launch your Internet browser.  If you are an AOL customer then please launch AOL now and click the same button on this dialog again.  Otherwise, please visit our web site at www.TheSimsOnline.com for links to our Help pages.^
