1  ^Progreso de Conexión^
2  ^Progreso General^
3  ^Tarea actual^

# Login Steps to enter a city

4  ^Arrancando motores^               # City is Selected...
5  ^Hablando con la nave nodriza^     # Connecting to City Selector...
6  ^Obteniendo información...^        # Processing XML response...
7  ^Esterilizando sockets TCP/IP^     # Connecting to City...
8  ^Sockets esterilizados^            # Connection Established...
9  ^Reticulando espinas^              # Asking for Avatar data from DB...
10 ^Espinas reticuladas^              # Received Avatar data from DB...
11 ^Purgando medidas psicográficas^   # Asking for Character data from DB...
12 ^Medidas purgadas^                 # Received Character data from DB...
13 ^Presurizarndo la red entre pares^ # Asking for Relationships data from DB...
14 ^Red presurizada^                  # Received Relationships data from DB...
15 ^Alineando agendas sociales^       # Asking for Reversed Relationships data from DB...
16 ^Agendas alineadas^                # Received Reversed Relationships data from DB...
17 ^Preparando cartografía^           # Loading City map...