1  ^As^
2  ^Dos^
3  ^Tres^
4  ^Cuatro^
5  ^Cinco^
6  ^Seis^
7  ^Siete^
8  ^Ocho^
9  ^Nueve^
10 ^Diez^
11 ^Sota^
12 ^Reina^
13 ^Rey^
14 ^ de ^
15 ^Picas^
16 ^Corazones^
17 ^Clubs^
18 ^Diamantes^
19 ^Joker^
