// OJGlobals
// 309  Maxis Letter Subject Strings
1 ^¿Ausencia perdonada?^
2 ^¿Dónde estabas?^
3 ^Disculpas^
4 ^Seguridad lo primero^
5 ^Revisión de Funcionamiento de Trabajo^

// 310  Maxis Letter Body Strings
6 ^Hemos detectado que te has ido del trabajo mientras estabas en un turno. Asumimos que tuviste que irte a casa debido a una enfermedad, el ataque de un panda, u otra desgracia inesperada.
Tienes %s ausencias perdonadas restantes este mes.
Usas una ausencia perdonada cuando abandonas tu trabajo durante un turno. Si usas más de %s podrías tener dificultades ascendiendo, incluso puedes ser degradado. Las ausencias perdonadas se reinician el primer día de cada mes.
RECUERDA: Puedes dejar el trabajo durante una interrupción sin ser penalizado.^
//$Local:1  $Local:2

7 ^¡Madre mía! Tu abscentismo se está llendo de las manos. Has faltado %s veces este mes. Espero que sepas que esto se quedará grabado permanentemente.
Ahora tienes CERO ausencias perdonadas este mes. Si crees que no puedes acabar un turno, deberías abandonar la propiedad cuando haya una interrupción. Si usas muchas ausencias perdonadas puedes tener dificultades ascendiendo, incluso puedes ser degradado. Las ausencias perdonadas se reinician el primer día de cada mes.^
// $Local:3 

8 ^Sentimos mucho enterarnos sobre su pérdida repentina e inesperada de la vida en el lugar de trabajo. Si alguna vez resucitas, recuperarás tu puesto y grado.
Has sido expulsado del trabajo porque eres un fantasma. Si visitas a un chamán o esperas unas horas, puedes ser resucitado. Puedes aprovechar esta oportunidad para visitar otros lugares. Sin embargo, no puedes trabajar mientras estás muerto. La empresa recomienda que evites morir en el futuro.^

9 ^Has sido expulsado del trabajo por estar durmiendo. No puedes trabajar durmiendo. La empresa recomienda no dormirse en el trabajo en el futuro.^

10 ^Has sido expulsado del trabajo porque has sido degradado. Tus habilidades, experiencias y amistades no son suficientes para este grado.^

11 ^Información de tu nuevo trabajo^

12 ^Por favor, mantén esta información guardada por si la necesitas:
Tipo de Trabajo actual:  %s %s
Titulo: %s
Horas: %s de %s a %s, coche compartido %s
Siguiente promoción: %s^

