Runaway pet letters

1 ^Recientemente hemos capturado a "%s", un gato fugado de tu propiedad. Dadas las condiciones en la que está, asusimos que eres un dueño irresponsable.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
2 ^Recientemente hemos capturado a "%s", un perro fugado de tu propiedad. Dadas las condiciones en la que está, asusimos que eres un dueño irresponsable.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
3 ^Recientemente hemos capturado a "%s", un gato fugado de tu propiedad. El gato ha huído por hambre extrema.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
4 ^Recientemente hemos capturado a "%s", un perro fugado de tu propiedad. El perro ha huído por hambre extrema.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
5 ^Recientemente hemos capturado a "%s", un gato fugado de tu propiedad. El gato ha huído por negligencia social.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
6 ^Recientemente hemos capturado a "%s", un perro fugado de tu propiedad. El perro ha huído por negligencia social.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
7 ^Recientemente hemos capturado a "%s", un gato fugado de tu propiedad. El gato ha huído por aburrimiento.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
8 ^Recientemente hemos capturado a "%s", un perro fugado de tu propiedad. El perro ha huído por aburrimiento.  "%s" será adoptado por un Sim más responsable. Por favor, ten más cuidado con tus mascotas en el futuro. Una alimentación regular y jugar con tu mascota es todo lo que tu peludo amigo necesita.^
9 ^Gatito sin nombre^
10 ^Perrito sin nombre^
11 ^MOMI (División de Control Animal)^