^Scoprendo nuovi lotti^
^Rimuovendo la musica da Compra/Costruisci^
^Impostando i controlli^
^Contattando gli amici^
^Cercando Daniela Alberghini^
^Riparando la TV.. di nuovo^
^Supplicando il boss per una promozione^
^Richiedendo fondi^
^Hackerando il Social Network^
^Reticolazione delle spline^
^Controllando le emozioni^
^Calibrando la matrice della personalita'^
^Cercando il plumbob dei sims^
^Sfamando la pianta bovina^
^Modificando il controllo del chaos^
^Caricando i Sims^
^Impostando gli oggetti^
