1 ^Non e' stato possible completare l'operazione a causa di un errore.^
2 ^Possiedi oggetti dal catalogo compra/costruisci fuori dall'area edificabile.  Devi eliminare o spostare gli oggetti al di fuori dell'area non edificabile.^
3 ^Non puoi permettertelo.^
4 ^Hai bisogno di almeno %d compagni di stanza per ingrandire l'area edificabile di questa dimensione.  ^
5 ^Al momento c'e' solo %d compagno di stanza.^
6 ^Al momento ci sono solo %d compagni di stanza.^
