1 ^Errore di connessione^
2 ^Connessione al server perduta. Possibli cause: il computer non e' connesso alla rete o il server ha perso la connessione. ( Codice errore: %d )^
3 ^Connessione fallita.^
4 ^Creazione Sim fallita..^
5 ^Il nome del tuo Sim e' gia' in uso, prova con un nome diverso.^
6 ^Errore database.^
7 ^Non e' stato possibile creare il nuovo Sim.^
8 ^Could not set character blob.^
9 ^Could not set money fields.^
10 ^Your Last Visitor Bonus^
11 ^The last visitor bonus you received was %lu Simoleon(s). Visitor bonus is paid out daily. (This message will not update if the visitor bonus you receive is zero.)^
12 ^Disconnessione inattivita'^
13 ^Sei stato disconnesso automaticamente per inattivita'.^
14 ^Errore - Il nome del tuo Sim non e' valido, prova con un nome diverso.^
15 ^Errore - Volto Sim non valido.^
16 ^Errore - Outfit quotidiano non valido.^
17 ^Errore - Outfit senza vestiti non valido.^
18 ^Errore - Outfit costume da bagno non valido.^
19 ^Errore - Outfit pigiama non valido.^
20 ^Errore - Genere Sim non valido.^
21 ^Errore - Colore pelle non valido.^
22 ^Errore - La richiesta non ha ricevuto dati.^
23 ^Errore - DBInsert fallito.^
24 ^Il tuo account e' stato sospeso.^
25 ^Sfortunatamente, il tuo account e' stato sospeso per una violazione dei termini di servizio. Una email riguardo questo incidente e' stata inviata all'indirizzo utilizzato per la registrazione a FreeSO. Puoi anche visitare il sito internet sotto la categoria "Suspended" per sapere di piu' riguardo gli account sospesi.^
26 ^Sei stato disconnesso perche' un altro utente e' entrato con il tuo stesso nome. Se pensi che qualcuno stia utilizzando il tuo account illegalmente visita -link- per maggiori informazioni.^
27 ^Sei stato disconnesso perche' un altro utente e' entrato con questo account e ha ritirato questo sim. Se pensi che qualcuno stia utilizzando il tuo account illegalmente visita -link- per maggiori informazioni.^