1  ^Connessione^
2  ^Progresso totale:^
3  ^Stato connessione:^

# Login Steps to enter a city

4  ^Accensione motori^                # City is Selected...
5  ^Connessione a seleziona citta'^   # Connecting to City Selector...
6  ^Mappatura informazioni^           # Processing XML response...
7  ^Connessione protocollo TCP/IP^    # Connecting to City...
8  ^Connesso^                         # Connection Established...
9  ^Reticolazione spline^             # Asking for Avatar data from DB...
10 ^Spline reticolate^                # Received Avatar data from DB...
11 ^Caricamento dati Sims^            # Asking for Character data from DB...
12 ^Dati Sims ottenuti^               # Received Character data from DB...
13 ^Connessione al server^            # Asking for Relationships data from DB...
14 ^Connessione effettuata^           # Received Relationships data from DB...
15 ^Calciando il fenicottero rosa     # Asking for Reversed Relationships data from DB...
16 ^Fenicottero calciato^             # Received Reversed Relationships data from DB...
17 ^Disegnando la cartina^            # Loading City map...