1 ^Your friend count:

%s Friends
%s Enemies

Friendship web coming soon!^
2 ^Sembra che FreeSO si sia chiuso prima dell'avvio, per questo motivo sono stati abbassati i dettagli grafici al minimo livello. Puoi attivare la visione dei lotti vicini senza problemi, ma non e' consigliato riattivare gli effetti di luce avanzata. Se il gioco non si e' bloccato puoi ignorare questo messaggio.^