^Fame: %d^
^Comfort: %d^
^Igene: %d^
^Vescica: %d^
^Energia: %d^
^Divertimento: %d^
^Ambiente: %d^
^+ Cucina^
^+ Meccanica^
^+ Logica^
^+ Corpo^
^+ Creativita'^
^+ Carisma^
^ ^
^ ^
^Can only be used by kids^
^Group Activity^
