1 ^Banna questo sim dalla tua proprieta'.^
2 ^Aggiungi questo sim alla lista ignorati.^
3 ^ Il sim "%s" e' stato cacciato dalla proprieta'. Vuoi bannarlo o aggiungerlo alla lista ignorati?^
4 ^Banna o aggiungi alla lista ignorati un sim.^
5 ^Questo giocatore e' stato bannato dalla tua proprieta'. Dovrai attivare la lista dei ban nel pannello proprieta' per attivare i ban che hai eseguito.^
6 ^Informazioni sul ban^
