1 ^Categorie^
2 ^Annulla^
3 ^Denaro: Bisogni difficili. Oggetti speciali: lavori di gruppo^
4 ^Anticonformista: Bisogni facili^
5 ^Romantico: Bisogni Facili. Oggetti speciali: letti vibranti^
6 ^Servizi: Bisogni medi. Massima velocita' bisogni. Oggetti speciali: letto vibrante, tavolo da lavoro^
7 ^Negozio: Bisogni medi.^
8 ^Abilita': Bisogni difficili. Massima velocita' abilita'.^
9 ^Benvenuto: Bisogni facili.^
10 ^Giochi: Bisogni facili.^
11 ^Intrattenimento: Bisogni facili. Oggetti speciali: cabina DJ, pista da ballo.^
12 ^Residenziale: Bisogni medi. Oggetti speciali: letti vibranti^
13 ^Nessuna Categoria^
14 ^Presto: Quartieri!^
