1 ^Strumento terreno^
2 ^Strumento spiana^
3 ^Strumento erba^

101 ^Crea paesaggi interessanti o montagne alte e spaventose con lo strumento terreno. Tieni premuto su un angolo di una casella e trascina su e giu'. Per un maggiore controllo sulle modifiche tieni conto di queste funzioni:

Tieni premuto MAIUSC per un maggiore controllo sulla modifica. Tieni premuto CTRL per una modifica soffice del terreno (collina). Il terreno modificato verra' convertito in erba secca.^

102 ^Questo strumento ti aiutera' a creare degli spazi per la creazione di muri e in generale di stanze. Tieni premuto su un angolo di una casella e trascina fino a coprire l'area desiderata.
Tieni premuto CTRL per una modifica soffice del terreno circostante all'area spianata. Il terreno modificato verra' convertito in erba secca.^

103 ^Pianta o uccidi l'erba sul tuo terreno con un click! Utile per creare percorsi o per far rinascere l'erba dopo una modifica al terreno.
Tieni premuto MAIUSC per un maggiore controllo sulla crescita. Tienti premuto CTRL per rimuovere l'erba.^