1 ^Escrib.^
2 ^Caball.^
3 ^Pizzara^
4 ^Conser.^
5 ^Poción^
6 ^Gnomo^
7 ^Piñata^
8 ^Telem.^

9 ^%s Veces^
10 ^El objeto bonus hoy es %s^
11 ^Hoy no hay objeto con bonificaciones.^
12 ^Últimas noticias^
13 ^Noticias recientes^

14 ^Página principal^
15 ^Pagos de objetos de dinero^
16 ^Historial de pagos^

17 ^Página siguiente^
18 ^Página anterior^

19 ^Selecciona una noticia para leer más.^
20 ^Cargando...^