//Chat Panel

1 ^Texto a voz: ^
2 ^Desactivar^
3 ^Activar^
4 ^Forzar^

5 ^Tono TTS:^
6 ^Cambiar...^
7 ^Aleatorio^

8 ^Selecciona el color del texto.^

//default channels
9 ^Chat^
10 ^Canal por defecto^
11 ^Admin^
12 ^Solo Administradores^

//channel management buttons (strings here should be VERY SHORT)
13 ^Editar^
14 ^+^
15 ^Listo^

//tooltips
16 ^Añadir un nuevo canal.^
17 ^Salir del modo de edición.^
18 ^No se puede modificar el canal por defecto.^
19 ^Clic para modificar este canal.^
20 ^Añadir o modificar canales de chat.^

//edit dialog
21 ^Editando canal ^
22 ^Nombre:^
23 ^Descripción:^
24 ^Opciones:^

25 ^Activar TTS^
26 ^Mostrar por defecto^
//
//
//
//
//
//

33 ^Eliminar^
34 ^Establecer color^

35 ^Permisos de lectura:^
36 ^Permisos de emisión:^

37 ^Visitantes^
38 ^Inquilinos^
39 ^Inquilinos constructores^
40 ^Solo el dueño^

41 ^Personal^
42 ^Un canal de chat personalizado^

43 ^Ocultar Chat. Vuelve a abrirlo con Ctrl-H^